*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}

section >*{
    display: block;
    margin: 5px;

}

.create{
    margin: 4px 3px;
    background: #f11919;
    border-radius: 4px;
    color: white;
    padding: 4px 6px;
    margin: 5px;
    display: block;
}

.question-info{
    font-size: 11px;
    color: #999;
    margin: 5px;
}

/* 

@media (max-width:700px) {
    *{
    }
} */