*{
    /* text-align: center; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.top-link{
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    z-index: 30;
}
a.question, a{
    text-decoration: none;
    color: #751515;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
    cursor: pointer;
}

a div{
    height: 100%;
    width: 100%;

}

.container{
    display: block;
    position: relative;
    margin:auto;
    width: 500px;
    max-width: 100%;
    margin-top: 10px;
    padding: 7px;
}


.container > div{
    margin-bottom: 10px;
    border-top: 3px solid #f11919f9;
    border-left: 3px solid #f11919b2;
    box-shadow: 1px 1px 4px #2b1c1cb9;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 3px;
}
.linkTab{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3px 3px 10px 3px;
}

.linkTab .private-links{
    margin: 0 5px;
}

.linkTab .private-links a{
    text-decoration: none;
    color: #751515;

}


img{
    width: 100%;
    max-width:500px;
}


*{
    font-size: 16px;
}
div.quizItem{
    text-align: left;
    margin-bottom: 10px;
}

input[type='submit']{
    background: #f11919;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 4px;
}



.inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div#openForm{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background:rgba(189, 41, 41, 0.7);
    cursor: pointer;
}

a#open{
    color: #fff;
    font-size: 40px;
    background:rgba(155, 89, 89, 0.144);
}