{% load socialaccount %}
{% load static %}
{% load i18n %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</div>
{% endfor %}
{% endif %}
<div class="my-2" style="max-width:400px;width:95vw;margin:auto;padding:5px;border: 1px solid #f11919; color:#f11919; border-radius: 4px;">
  <a style="font-size: 20;font-weight:600;text-decoration:none;" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    {% trans 'Continue with' %} {{provider.name}}
    </a>
</div>
{% endfor %}

