amqp==5.0.9
arabic-reshaper==2.1.3
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
billiard==3.6.4.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
crispy-bootstrap5==0.6
cryptography==36.0.1
DateTime==4.3
defusedxml==0.7.1
distlib==0.3.3
dj-database-url==0.5.0
Django==3.2.9
django-allauth==0.48.0
django-appconf==1.0.5
django-celery==3.1.17
django-ckeditor==6.2.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-heroku==0.3.1
django-imagekit==4.1.0
django-js-asset==1.2.2
django-pwa==1.0.10
django-social-share==2.2.1
djangorestframework==3.13.1
filelock==3.3.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
html5lib==1.1
idna==3.3
kombu==5.2.3
numpy==1.21.3
oauthlib==3.2.0
pandas==1.3.4
pilkit==2.0
Pillow==9.0.1
platformdirs==2.4.0
prompt-toolkit==3.0.28
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.3.0
PyMySQL==1.0.2
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
python3-openid==3.2.0
pytube==11.0.1
pytz==2021.3
reportlab==3.6.5
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
SQLAlchemy==1.4.26
sqlparse==0.4.2
urllib3==1.26.8
vine==5.0.0
virtualenv==20.9.0
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.3.0
wincertstore==0.2
xhtml2pdf==0.2.5
zope.interface==5.4.0






