{% extends 'base.html' %}
{% block title %}
How To
{% endblock title %}
{% block css %}

{% endblock css %}
{% block content %}
<!-- write this section inside a file.txt and load it here will javascript -->
<section>
    <article>
        <p>Change Username</p>
        <div>
            Go to the settings -> account -> change username
        </div>
    </article>
    <article>
        <p>Change Password</p>
        <div>
            Go to the settings -> account -> change password
        </div>
    </article>
    <article>
        <p>Change Categories</p>
        <div>
            Go to the settings -> profile -> change categories
        </div>
    </article>
    <article>
        <p>Create Quiz</p>
        <div>
            Click on the plus(+) button on the quiz home page.
        </div>
    </article>
</section>
{% endblock content %}