

{% extends 'core/form.html' %}

{% load crispy_forms_tags %}


{% block title %}
Change Password
{% endblock title %}

{% block main %} 

<h3>Change Password</h3>
<p>
    Make sure you remember the password you are about to change your account to!
</p>
{% include 'messages.html' %}

<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Submit" style="margin: 5px 0 5px 4px;background: #f11919; color: #fff;  width: 250px; max-width: 90vw; padding: 4px 4px;border-radius: 4px; border: none;">
</form>


{% endblock %}