
{% extends 'quiz/base.html' %}
{% load static %}
{% load social_share %}

{% block quizTitle %}
Categories
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}">
{% endblock quizCss %}
{% include 'core/header.html' %}


<section>

    <div class="head">Step 2 of 2</div>
{% include 'messages.html' %}
<h3>Add Categories</h3>
<div class="top-info">You can add up to 5 categories <br>Categories: {{questionCategories.count}}</div>
<div class="category-create" >
    <form action="" id="category-form" method="get">
        <input type="text" name="newCategory" id="newCategory">
        <input type="submit" value="Create Category">
    </form>    

</div>


<form action="" id="added-category-form" method="get">
    <div id="categoryBucket">

        {% for category in questionCategories %}
        <input type='text' id="{{category.title}}"  class="addedCategories" onclick="removeCategory(this.id)" name="addedCategories" value={{category.title}} readonly>
    {% endfor %}
    </div>

    <input type="submit" value="add all the categories in the bucket to the question">
</form>


<!-- Add infinite scroll to the category with ajax -->
<div>Click to add categories to above bucket</div>
{% for category in page_obj %}
<input type="button" onclick="addClassCategory(this.value)" value="{{category.title}}">
{% endfor %}



<div>
    
<a href="{% url 'question:new-question' %}">
    Add more Questions
</a>

</div>
</section>

<script type="text/javascript">

function addClassCategory(obj_name){
        var bucket = document.getElementById('categoryBucket');

        bucket.innerHTML += `
                                <input type="text" class = "addedCategories" name="addedCategories" value=${obj_name} readonly>
                            `;

    }

    function removeCategory(index){
        var elem = document.getElementById(index);
        elem.parentNode.removeChild(elem);
    }


</script>
   
{% endblock content %}