
{% extends 'quiz/base.html' %}

{% load static %}

{% block quizTitle %}
Old Town Road Correction
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'question/css/correction.css' %}">
{% endblock quizCss %}


{% include 'messages.html'%}

<div class="question-card-container">
    <a href="{% url 'profile:profile' question.user %}">
        @{{question.user}}
    </a>
</div>


<div class="question-card-container">

        
        <div class="question-box download-container">
            {% if question.form == 'fourChoicesQuestion' %}
            <div>
                    {{question.question|safe|linebreaksbr}}
                    <ol class="answers">
                        <ol class="answers">
                            {% if question.correct == 'answer1' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer1|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
                            {% elif answer == 'answer1' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer1|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer1|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer2' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer2|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
                            {% elif answer == 'answer2' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer2|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer2|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer3' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer3|safe|linebreaksbr}} 
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
                            {% elif answer == 'answer3' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer3|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer3|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer4' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer4|safe|linebreaksbr}} 
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
                            {% elif answer == 'answer4' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer4|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer4|safe|linebreaksbr}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
    
                            {% endif %}
    
    
    
                    </ol>
                        
                        <div class="solution">
                            Solution: {{question.solution|safe|linebreaksbr}}
                        </div>
                        {% if not user in question.solution_validators.all %}

                            <div>
                                <form method="get" id="solutionQualityForm" data-url="{% url 'question:solution-quality' 'fourChoices' question.id %}">
                                    <div>Is the solution helpful?</div>
                                <input type="radio" id="yes"  name="quality" value="Yes">
                                <label for="yes">Yes</label>
                                <input type="radio" id="no"  name="quality" value="No">
                                <label for="no">No</label>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                            </div>
                        {% endif %}        
            </div>
            {% elif question.form == 'trueOrFalseQuestion' %}


                <div>
                        {{question.question|safe|linebreaksbr}}
                        <ol class="answers">
                            {% if question.correct == 'True' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer1|safe|linebreaksbr}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>
                        {% elif answer == 'answer1' %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer1|safe|linebreaksbr}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% else %}

                        <li>
                            <div class="answer">
                                {{question.answer1|safe|linebreaksbr}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'False' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer2|safe|linebreaksbr}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>
                        {% elif answer == 'answer2' %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer2|safe|linebreaksbr}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% else %}

                        <li>
                            <div class="answer">
                                {{question.answer2|safe|linebreaksbr}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% endif %}


                        </ol>
                        
                         
                        <div class="solution">
                        Solution: {{question.solution|linebreaksbr}}
                        </div>
                      {% if not user in question.solution_validators.all %}
                        <div>
                            <form method="get" id="solutionQualityForm" data-url="{% url 'question:solution-quality' 'trueOrFalse' question.id %}">
                                <div>Is the solution helpful?</div>
                            <input type="radio" id="yes"  name="quality" value="Yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no"  name="quality" value="No">
                            <label for="no">No</label>
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                        </div>
                        {% endif %}
                </div>
            {% endif %}
        </div>

<!-- <div class="question-card-container"> -->

        <div>
            <a href=""  class="a">Download</a>
        </div>


        <div>
            <img src="{{postAd.picture.url}}">
        </div>
        
        <div>
            {{postAd.description|linebreaksbr}}
        </div>
        
        <div>
            <a class="postAd" onclick="clickFunction()" data-url="{% url 'ads:post-click' postAd.id 'correction' %}" href="{{postAd.link}}" target="_blank">Visit Site</a>
        </div>
        
        {% if questionType == 'OldTownRoad' %}
            <div>
                <a href="{% url 'question:answer-question' %}">Continue Answering Questions</a>
            </div>
        {% elif questionType == 'Following' %}
            <div>
                <a href="{% url 'question:following-questions' %}">Continue Answering Questions</a>
            </div>
        {% endif %}
       
        
        
<!-- </div> -->


<div  style="display:none;" class='result'>
  
</div>

<script src="{% static 'question/html2canvas.js' %}"></script>

{% include 'jquery.html' %}


<script>

let elm = document.querySelector('.question-box.download-container');
elm.prepend("");
html2canvas(elm).then(function(canvas){
    document.querySelector('.result').append(canvas);
    let cvs = document.querySelector('canvas');
    let a = document.querySelector('.a');
    a.href = cvs.toDataURL();
    a.download = 'ToTheX-Correction-{{question.question}}.png'
})





function clickFunction(){
        
        $.ajax({
            // change this to post
            type: 'GET', 
            url : $('a.postAd').data('url'),
            data : {
            },
            success : function(response){
                alert('link clicked!')
                

            },
            error : function(){
                alert('It falis silently!')
            }

        });

    }




    $(document).on('submit', '#solutionQualityForm', function(e){
    e.preventDefault();
        const object = $('#solutionQualityForm');
        const dataList = object.serialize()
        $.ajax({
            // change this to post
            type: 'GET', 
            // serialize the data
            url : $('#solutionQualityForm').data('url'),
            data : dataList,
            success : function(response){
                $('#solutionQualityForm').parent().hide(1000);
                

            },
            error : function(){
            }

        });
        });

</script>
{% endblock content%}