
{% extends 'base.html' %}

{% load static %}

{% block title %}
Old Town Road Correction
{% endblock title %}

{% block content %}

{% block css %}
{% include 'mathjax.html' %}

<link rel="stylesheet" href="{% static 'question/css/correction.css' %}">
{% endblock css %}
{% if not user.is_authenticated %}
{% include 'core/authenticate.html' %}
{% endif %}

{% include 'messages.html'%}

<div class="question-card-container">
    <a href="{% url 'profile:profile' question.user %}">
        @{{question.user}}
    </a>
</div>


<div class="question-card-container">

        
        <div class="question-box download-container">
            {% if question.form == 'fourChoicesQuestion' %}
            <div>
                <div id="test" class="q-box">
                    <div>
                        {{question.question|safe}}
                    </div>
                </div>
                    <ol class="answers">
                        <ol class="answers">
                            {% if question.correct == 'answer1' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer1}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
                            {% elif answer == 'answer1' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer1}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer1}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer2' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer2}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
                            {% elif answer == 'answer2' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer2}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer2}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer3' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer3}} 
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
                            {% elif answer == 'answer3' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer3}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer3}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                            </li>
    
                            {% endif %}
    
    
    
    
    
    
                            {% if question.correct == 'answer4' %}
                            <li class="answerGreen">
                                <div class="answer">
                                    {{question.answer4}} 
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
                            {% elif answer == 'answer4' %}
                            
                            <li class="answerRed">
                                <div class="answer">
                                    {{question.answer4}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
    
                            {% else %}
    
                            <li>
                                <div class="answer">
                                    {{question.answer4}}
                                </div>
                                <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                            </li>
    
                            {% endif %}
    
    
    
                    </ol>
                        
                        <div class="solution q-box">
                            Solution: {{question.solution|safe}}
                        </div>
                        {% if not user in question.solution_validators.all %}

                            <div>
                                <form method="get" id="solutionQualityForm" data-url="{% url 'question:solution-quality' 'fourChoices' question.id %}">
                                    <div>Is the solution helpful?</div>
                                <input type="radio" id="yes"  name="quality" value="Yes">
                                <label for="yes">Yes</label>
                                <input type="radio" id="no"  name="quality" value="No">
                                <label for="no">No</label>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                            </div>
                        {% endif %}  
                        <div style="text-align:right;">
                            <div style='color:#f11919; text-align:right; margin-right: 3px;'>NeuGott</div>
                        </div>      
            </div>
            {% elif question.form == 'trueOrFalseQuestion' %}


                <div>
                    <div class="q-box">
                        {{question.question|safe}}
                    </div>
                        <ol class="answers">
                            {% if question.correct == 'True' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>
                        {% elif answer == 'answer1' %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% else %}

                        <li>
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'False' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer2}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>
                        {% elif answer == 'answer2' %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer2}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% else %}

                        <li>
                            <div class="answer">
                                {{question.answer2}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% endif %}


                        </ol>
                        
                         
                        <div class="solution q-box">
                        Solution: {{question.solution|safe}}
                        </div>
                      {% if not user in question.solution_validators.all %}
                        <div>
                            <form method="get" id="solutionQualityForm" data-url="{% url 'question:solution-quality' 'trueOrFalse' question.id %}">
                                <div>Is the solution helpful?</div>
                            <input type="radio" id="yes"  name="quality" value="Yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no"  name="quality" value="No">
                            <label for="no">No</label>
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                        </div>
                        {% endif %}
                </div>
                <div style="text-align:right;">
                    <div style='color:#f11919; text-align:right; margin-right: 3px;'>NeuGott</div>
                </div>
            {% endif %}
        </div>
{% include 'ads/adSection.html' %}

        <div>
            <a href=""  class="a">Download</a>
        </div>
{% if questionType == 'OldTownRoad' %}
<form action="{% url 'question:answer-question' %}" method="get">
    <input type="submit" value="Continue Answering Questions">
</form>
<!-- <div>
    <a href="{% url 'question:answer-question' %}">Continue Answering Questions</a>
</div> -->
{% elif questionType == 'Following' %}
<form action="{% url 'question:following-questions' %}" method="get">
    <input type="submit" value="Next Question">
</form>
<!-- <div>
    <a href="{% url 'question:following-questions' %}">Continue Answering Questions</a>
</div> -->
{% endif %}
{% if question.quiz %}
<br>
<form action="{% url 'quiz:take-quiz' question.quiz.id %}" method="get">
    <input type="submit" value="Take The Full Quiz">
</form>
{% endif %}
<br>


<div  style="display:none;" class='result'>
  
</div>

<script src="{% static 'question/html2canvas.js' %}"></script>

{% include 'jquery.html' %}
{% include 'loading.html' %}


<script>
let elm = document.querySelector('.question-box.download-container');
elm.prepend("");
html2canvas(elm).then(function(canvas){
    document.querySelector('.result').append(canvas);
    let cvs = document.querySelector('canvas');
    let a = document.querySelector('.a');
    a.href = cvs.toDataURL();
    a.download = 'ToTheX-Correction-{{question.question}}.png'
})
</script>




<script>
    $(document).ready(function(){


    $(document).on('submit', '#solutionQualityForm', function(e){
    e.preventDefault();
        const object = $('#solutionQualityForm');
        const dataList = object.serialize()
        $.ajax({
            // change this to post
            type: 'GET', 
            // serialize the data
            url : $('#solutionQualityForm').data('url'),
            data : dataList,
            success : function(response){
                $('#solutionQualityForm').parent().hide(1000);
                

            },
            error : function(){
            }

        });
        });
    });
</script>
{% endblock content%}