{% extends 'base.html' %}
{% load static %}
{% block title %}
Create Question
{% endblock title %}

{% block content %}


{% block css %}
<link rel="stylesheet" href="{% static 'question/css/newquestion.css' %}?{{static_request}}">
{% endblock css %}
{% include 'core/header.html' %}

{% include 'messages.html' %}

<section>
   
<div class="contentBx">
    <div class="formBx">
        <h2>Create Question</h2>
        <div class="question-info">You'll earn 0.1 coin per successful attempt</div>
<div>
    <a class="create" href="{% url 'question:trueOrFalseQuestion' %}">Create A True Or False Question</a>
</div>
<div>
    <a class="create" href="{% url 'question:fourChoicesQuestion' %}">Create A Four Choices Question</a>
</div>


</div>
<br>
<a href="{% url 'question:questions' %}">Finished?</a>
</div>
</section>
{% include 'loading.html' %}

{% endblock content %}