{% extends 'base.html' %}
{% load static %}
{% block title %}
Questions
{% endblock title %}

{% block css %}


<link rel="stylesheet" href="{% static 'question/css/questions.css' %}">
{% endblock css %}
{% block content %}


{% include 'head.html' %}

{% include 'navbar.html' %}

{% include 'messages.html' %}
<div class="container">
    <input type="hidden" id="navActive" name="nav" value="{{nav}}">
    <div>
        <a class="question" href="{% url 'question:my-questions' %}">
            <div>
                My Coven
            </div>
        </a>
    </div>

    <div>
        <!-- <a class="question" href="{% url 'ads:postAd' 'following' %}"> -->
        <a class="question" href="{% url 'question:following-questions' %}">

            <div>
                Bohemian Grove
            </div>
        </a>
    </div>
       
    <div>
        <!-- <a class="question" href="{% url 'ads:postAd' 'oldtownroad' %}"> -->
        <a class="question" href="{% url 'question:answer-question' %}">

          
            
            <div>
                Old Town Road(recommended)
            </div>
        </a>
    </div>
    <div>
        <a class="question" href="{% url 'question:quiz-generator' %}">
            <div>
                Quiz Generator
            </div>
        </a>
    </div>
    <div>
        <a class="question" href="{% url 'question:past-questions' %}">
            <div>
                Past Questions
            </div>
        </a>
    </div>
    <div style="text-align:left;" id="explanation">
        <div><b>Notice Board</b></div>
        <p>
            <div>
                   This is the way we teach math in school, \(2x^a\) just be ready for everything imaginable.
                <blockquote>If you can't teach it, you don't know it.</blockquote>
          <!-- <annotation encoding="application/x-tex">{\displaystyle a_{0}(x)y+a_{1}(x)y'+a_{2}(x)y''+\cdots +a_{n}(x)y^{(n)}+b(x)=0,}</annotation> -->
      <!-- <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/ac470d7aef63fd48b3045c19dc2fa151077d05b8" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.838ex; width:56.783ex; height:3.343ex;" alt="{\displaystyle a_{0}(x)y+a_{1}(x)y'+a_{2}(x)y''+\cdots +a_{n}(x)y^{(n)}+b(x)=0,}"></span> -->

            </div>
            Make sure you create quizzes and questions(click the + button). They might be really useful to some certain people.
            See this as your own contribution to the advancement of humanity.<br>
            <b>This is a gift from a University of Ibadan student to the world.</b>
            <div>
                <a class="paystack1" href="https://paystack.com/pay/neugott-donation-for-the-developer" target="self">Donate</a>
            </div>
            Your Donation helps to make this app remain online, free to use for everyone and helps improve the quality of this app.
            <div>
                Click this link if you can't donate
                <a class="paystack1" href="https://bicyclelistworst.com/pr2kezxsg5?key=3e297cded3204c868d4a408d67f38c18">
                    Click Here
                </a>
            </div>
            Help a young developer that wants to make impact on millions of lives.
            <div>
            <span>
                Click here for notifications and earn 40 coins:
            </span>
            <span>
                <button id="notifications">
                    Notification
                </button>
            </span>
                
            </div>
            <div>
                <a class="paystack1" href="{% url 'my-struggle' %}">
                    My Struggle
                </a>
            </div>
        </p>
        
        </div>
        <div style="margin:auto; padding:4px;">
            <div style='text-align: start; font-size: 14px;'>Total Number Of Registered Users : {{number_of_registered_users}}</div>
            <div style='text-align: left; font-size: 14px;'>Total Number Of Quizzes Created : {{number_of_quizzes_created}}</div>
            <div style='text-align: left; font-size: 14px;'>Total Number Of Questions Created : {{number_of_questions_created}}</div>    
        </div>
        

</div>





<div class="contentBx inactive-bar">
    <div class="formBx">
        <h2>Create Question</h2>
        <div class="question-info">You'll earn 0.1 coin per successful attempt</div>
<div>
    <a class="create" href="{% url 'question:trueOrFalseQuestion' %}">Create A True Or False Question</a>
</div>
<div>
    <a class="create" href="{% url 'question:fourChoicesQuestion' %}">Create A Four Choices Question</a>
</div>


</div>
<a href="{% url 'question:questions' %}">Go Back</a>
</div>


<div id="openForm">
    <a id="open" class="link" href="{% url 'question:new-question' %}">+</a>
</div>
{% include 'mathjax.html' %}
{% include 'loading.html' %}
<!-- <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
<!-- <script>
    window.MathJax = {
        loader: {load: ["input/tex", "output/chtml"]}
    };
</script> -->
<script src="{% static 'question/js/questions.js' %}"></script>
<script>
    const formContainer = document.querySelector('.contentBx');
    const openForm = document.querySelector('#openForm');
    openForm.addEventListener('click', function(e){
        e.preventDefault()
        formContainer.classList.toggle('inactive-bar');
    });

    formContainer.addEventListener('click', function(){
        formContainer.classList.toggle('inactive-bar');
        
    });
</script>
<script>
    const notifButton = document.getElementById('notifications');
    notifButton.addEventListener('click', (e)=>{
        // e.preventDefault();
        alert('Are you ready?');
        Notification.requestPermission().then((result)=>{
            if (result === 'granted'){
                // add notification function here
                getCoins();
                randomNotification();
            } else if (result === 'denied'){
            Notification.requestPermission().then((result)=>{
            if (result === 'granted'){
                // add notification function here
                getCoins();
                randomNotification();
            }
        });
    };
        });
    });


    function randomNotification(){
        // const randomItem = 
        const notifTitle = 'Revision Reminder';
        const notifBody = "There are questions lieing around, waiting for someone to supply answers to them!";
        const notifImg = "/static/images/tothex_160.png";
        const notifOptions = {
            body: notifBody,
            icon: notifImg,
        };
        let notification = new Notification(notifTitle, notifOptions);
        let hostname = window.location.host + "/question/take/";

        notification.onclick = function(){
            window.open(hostname);
        };
        setTimeout(randomNotification, 1000*60*60*8)
    }

    function getCoins(){
        $.ajax({
            // change this to post
            type: 'GET', 
            url : `{% url 'allow-notification' %}`,
            data : {
            },
            success : function(response){
                alert('You have been awarded 40 coins');
            },
            error : function(){
                alert('It falis silently!');
            }

        });
    }
</script>
{% endblock content %}