

{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Quiz Generator
{% endblock title %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'question/css/fourChoices.css' %}?{{static_request}}">
<style>
.body{
    padding: 0;
    margin: 0 0 0 4px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    max-width: 95vw;
}
</style>
{% endblock css %}

<div style="display: block;border-bottom: 1px solid #ccc;height: 50px;box-shadow: 0 1px 4px #ccc;position: sticky;top: 0;left: 0;background: #fff;z-index: 1000;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
    <div style="padding-right: 6px;">
        <a style="margin-right: 7px;color: black;text-decoration: none;font-size: 40px;padding-right: 4px;"
        href="{% url 'question:questions' %}" 
        alt="NeuGott back button">
            ←
        </a>
        <span style="color: #a83425;font-weight:600; font-size:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            NeuGott
        </span>
        <img style="border-radius:4px;display:none;" src="/static/core/images/tothex_160.png" alt="NeuGott">
  
    </div>
  </div>

{% include 'messages.html'%}


<div class="body">
    <i style="font-size: 12px; color: #777;">The coins earned here are not being included in the leaderboard</i>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <select style="display: block;" multiple name="categories" id="" required>
            select categories
            {% for category in categories %}
            <option value="{{category.title}}">{{category.title}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Generate" style="margin: 5px 0 5px 4px;background: #f11919; color: #fff;  width: 200px; max-width: 90vw; padding: 4px 4px;border-radius: 4px; border: none;">
    </form>
    
</div>
{% include 'loading.html' %}

{% endblock content %}
