

{% extends 'base.html' %}

{% load static %}

{% block title %}
Quiz
{% endblock title %}

{% block content %}

{% block css %}
{% include 'mathjax.html' %}

<link rel="stylesheet" href="{% static 'quiz/css/rtakequiz.css' %}?{{static_request}}">
{% endblock css %}


<div style="display: block;border-bottom: 1px solid #ccc;height: 50px;box-shadow: 0 1px 4px #ccc;position: sticky;top: 0;left: 0;background: #fff;z-index: 1000;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
    <div style="padding-right: 6px;">
        <a style="margin-right: 7px;color: black;text-decoration: none;font-size: 40px;padding-right: 4px;"
        href="{% url 'question:questions' %}" 
        alt="NeuGott back button">
            ←
        </a>
        <span id="countdownbox1" style="color: #a83425;font-weight:600; font-size:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            NeuGott
        </span>

    </div>
  </div>
<div class="container">
    {% include 'messages.html'%}
        <div class="minuteBx">
            <span>duration ~  </span>
            <div id="timeDisplay"></div>
            <div style="display:none;" id="minutes">{{duration}}</div>
        </div>
 </div>
    
    



 <div class="question-card-container">
{% if request.user.is_authenticated %}
<form class="question-form-box" action="{% url 'question:quiz-submit' request.user.profile.code  %}" method="post"  id="quizForm">
{% else %}
<form class="question-form-box" action="{% url 'question:quiz-submit' None %}" method="post"  id="quizForm">

{% endif %}
    {% csrf_token %}
    <ol>

{% for index, question in questions %}
<div class="question-box">
    {% if question.form == 'fourChoicesQuestion' %}
    <li class="question">

        <div>
            <div class="questionBx">

                {{question.question|safe}}

            </div>
            {% include 'question/imgBx.html' %}

            {% for ans in question.shuffle_answers %}
            {% if ans == 1 %}
            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}"  type="checkbox" name="answer" id="id_{{index}}_answer1" value="fourChoices-{{question.id}}-answer1">
                <label for="id_{{index}}_answer1">{{question.answer1}}</label>
            </div>
            {% elif ans == 2 %}
            
            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}" type="checkbox" name="answer" id="id_{{index}}_answer2" value="fourChoices-{{question.id}}-answer2">
                <label for="id_{{index}}_answer2">{{question.answer2}}</label>
            </div>
            {% elif ans == 3 %}

            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}" type="checkbox" name="answer" id="id_{{index}}_answer3" value="fourChoices-{{question.id}}-answer3">
                <label for="id_{{index}}_answer3">{{question.answer3}}</label>
            </div>
            {% elif ans == 4 %}

            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}" type="checkbox" name="answer" id="id_{{index}}_answer4" value="fourChoices-{{question.id}}-answer4">
                <label for="id_{{index}}_answer4">{{question.answer4}}</label>
            </div>
            {% endif %}    
            {% endfor %}
    </li>

    {% elif question.form == 'trueOrFalseQuestion' %}
    <li class="question">

    <div class="questionBx">
        {{question.question|safe}}

    </div>
    {% include 'question/imgBx.html' %}

            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}" type="checkbox" name="answer" id="id_{{index}}_answer1" value="trueOrFalse-{{question.id}}-answer1">
                <label for="id_{{index}}_answer1">{{question.answer1}}</label>
            </div>
            
            <div onclick="AutoClick(this)" class="answer">
                <input onclick="validateAnswer(this.className, this.id)" class="option{{index}}" type="checkbox" name="answer" id="id_{{index}}_answer2" value="trueOrFalse-{{question.id}}-answer2">
                <label for="id_{{index}}_answer2">{{question.answer2}}</label>
            </div>
        </li>
                
        {% endif %}
    
</div>
        
<div style="text-align:right;">
    <div style='color:#f11919; text-align:right; margin-right: 3px;'>NeuGott</div>
</div>
{% endfor %}
</ol>
<input type="hidden" name="reAttempt" value="{{reAttempt}}">
<input type="hidden" name="questionLength" value="{{questionLength}}">
<input type="hidden" name="type" value="{{type}}">


<input type="submit"  id="submitButton"  value="Submit">


</form>
<br>
<br>
<br>
</div>
{% include 'loading.html' %}

<script>



    function validateAnswer(option, target){
        let answers = document.getElementsByClassName(option);

        for(var i = 0; i < answers.length; i++){
        if (answers[i].checked == 1){
            answers[i].checked = 0;
        };  

        }
        document.getElementById(target).checked = true;
        
    }

    const minutes = document.getElementById('minutes').textContent;
    let number_of_minutes = Math.floor(parseInt(minutes) / 60)
    // let number_of_minutes = Math.floor(parseInt(minutes))

    let number_of_seconds = parseInt(minutes) % 60
    // let number_of_seconds = parseInt(minutes) *60

    let timeDisplay = document.getElementById("timeDisplay")
    timeDisplay.innerHTML = `~ ${number_of_minutes}min : ${number_of_seconds}sec`
    // timeDisplay.innerHTML = `~ ${number_of_minutes}min : 00sec`


    const countdownbox = document.querySelector('span#countdownbox1');
    let seconds = minutes;
    const quiz = document.getElementById('quizForm');
    
    const myInterval = setInterval(()=>{
        seconds -= 1;
        let minutesLeft = Math.floor(seconds/60);
        let secondsLeft = seconds%60;

 
        if (seconds == 0){
            print(seconds);
            const finished =  document.getElementById('submitButton');
            finished.click();

        }
        if (seconds <= 0){
        myStopFunction();
        }
        countdownbox.innerHTML = `<b>${minutesLeft}min:${secondsLeft}sec left</b>`;


    }, 1000)


    function myStopFunction() {
  clearInterval(myInterval);
    }



</script>
<script>
    const AutoClick = function(arg){
        let inputbx = arg.childNodes[1];
        inputbx.click();
    }
</script>
{% endblock content %}
