{% extends 'base.html' %}

{% load static %}

{% block title %}
{% if questionType == 'OldTownRoad' %}
            Old Town Road
            {% elif questionType == 'Following' %}
            Bohemian Grove
            {% endif %}
{% endblock title %}

{% block content %}

{% block css %}
{% include 'mathjax.html' %}
<link rel="stylesheet" href="{% static 'question/css/takequestion.css' %}">
{% endblock css %}
<div style="display: block;border-bottom: 1px solid #ccc;height: 50px;box-shadow: 0 1px 4px #ccc;position: sticky;top: 0;left: 0;background: #fff;z-index: 1000;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
    <div style="padding-right: 6px;">
        <a style="margin-right: 7px;color: black;text-decoration: none;font-size: 40px;padding-right: 4px;"
        href="{% url 'question:questions' %}" 
        alt="NeuGott back button">
            ←
        </a>
        <span style="color: #a83425;font-weight:600; font-size:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            NeuGott
        </span>
        <img style="border-radius:4px;display:none;" src="/static/core/images/tothex_160.png" alt="NeuGott">
  
    </div>
</div>

<div class="container">
{% include 'messages.html' %}

    <div>
    <div>
        <p>
            {% if questionType == 'OldTownRoad' %}
            Old Town Road
            {% elif questionType == 'Following' %}
            Bohemian Grove
            {% endif %}
        <img style="width:20px; height:20px;border-radius:4px;" id="neugott" src="/static/question/images/tothex_160.png" alt="NeuGott">
        </p>
    </div>
        <div class="inline">
            <div>
                Prize: {{score}}
            </div>
            <div class="attempt">
                {% if question.attempts < 2 %}
                    {{question.attempts}} attempt
                {% else %}
                    {{question.attempts}} attempts
                {% endif %}
            </div>
            <div class="average">
                {{question.avgScore}}%
            </div>
            <div id="seconds" class="duration">{{question.duration_in_seconds}}</div>
            <div class="secondsName">
                seconds            
            </div>
        
        </div>
        
    </div>
    
    
    <div id="countdownbox"></div>
        <form class="question-form-box" action="{% url 'question:submit-question' %}" method="post"  id="questionForm">
            {% csrf_token %}
                {% if question.form == 'fourChoicesQuestion' %}
                    <div class="questionBx">
                <div style='text-align:left; color:#f11919; margin-left: 3px; font-size:20;'>@{{question.user}}</div>

                        <div>
                            {{question.question|safe}}

                        </div>


                        {% for a in ans %}
                        {% if a == 1 %}
                        <div onclick="AutoClick(this)" class="answer">
                            <label for="id_{{question.index}}_answer1">
                            <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}-{{question.id}}-answer1">

                            {{question.answer1}}
                            </label>
                        </div>
                        {% elif a == 2 %}
                        <div onclick="AutoClick(this)" class="answer">

                            <label for="id_{{question.index}}_answer2">
                            <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}-{{question.id}}-answer2">

                            {{question.answer2}}
                            </label>

                        </div>
                        {% elif a == 3 %}

                        <div onclick="AutoClick(this)" class="answer">
                            <label for="id_{{question.index}}_answer3">
                            <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer3" value="{{question.form}}-{{question.id}}-answer3">
                            {{question.answer3}}
                        </label>
                        </div>
                        {% elif a == 4 %}

                        <div onclick="AutoClick(this)" class="answer">

                            <label for="id_{{question.index}}_answer4">
                            <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer4" value="{{question.form}}-{{question.id}}-answer4">

                            {{question.answer4}}
                            </label>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="submitBx">
                            <input style="display:none;" type="submit"  id="submitButton"  value="Submit">
        
                        </div>
                        <div style='text-align:right; color:#f11919; text-align:right; margin-right: 3px; font-size:20;'>NeuGott</div>
        
                    </div>
                    
            {% elif question.form == 'trueOrFalseQuestion' %}
            <div class="questionBx">
                <div style='text-align:left; color:#f11919; margin-left: 3px; font-size:20;'>@{{question.user}}</div>

                <div>
                    {{question.question|safe}}

                </div>






                <div onclick="AutoClick(this)" class="answer">
                    <label for="id_{{question.index}}_answer1"> 
                    <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}-{{question.id}}-answer1">
                            {{question.answer1}}
                    </label>
                </div>
                
                <div onclick="AutoClick(this)" class="answer">
                    <label for="id_{{question.index}}_answer2"> 
                    <input onclick="AutoSubmit()" class="option{{question.index}}" type="radio" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}-{{question.id}}-answer2">

                            {{question.answer2}}
                    </label>
                </div>
                <div style="display:none;" class="submitBx">
                    <input type="submit"  id="submitButton"  value="Submit">

                </div>
                <div style='text-align:right; color:#f11919; text-align:right; margin-right: 3px; font-size:20;'>NeuGott</div>

            </div>
                    
                        
                {% endif %}

                <input type="hidden" name="questionType" value="{{questionType}}">
        </form>

    
    <!-- disable the submit button if the question has not been answered -->
    {% if questionType == 'OldTownRoad' %}
    <div>
        <form action="{% url 'question:answer-question' %}" method="get">
            <input id="skipButton" type="submit" value="Skip">
        </form>
    {% elif questionType == 'Following' %}
        <form action="{% url 'question:following-questions' %}" method="get">
            <input id="skipButton" type="submit" value="Skip">
        </form>
    {% endif %}
        <a href=""  class="a">
            <div>Screenshot</div>
        </a>
    </div>
    
</div>

<div  style="display:none;" class='result'>
      
</div>
{% include 'loading.html' %}

<script src="{% static 'question/html2canvas.js' %}"></script>

<script>

    let elm = document.querySelector('.questionBx');
    elm.prepend("");
    html2canvas(elm).then(function(canvas){
        document.querySelector('.result').append(canvas);
        let cvs = document.querySelector('canvas');
        let a = document.querySelector('.a');
        a.href = cvs.toDataURL();
        a.download = 'NeuGott-{{question.question}}.png'
    })
    </script>

<script>


    // function validateAnswer(option, target){
    //     let answers = document.getElementsByClassName(option);

    //     for(var i = 0; i < answers.length; i++){
    //     if (answers[i].checked == 1){
    //         answers[i].checked = 0;
    //     };  

    //     }
    //     document.getElementById(target).checked = true;
        
    // }


    let seconds = document.getElementById('seconds').textContent;

    const countdownbox = document.getElementById('countdownbox');
    const skip = document.getElementById('skipButton');
    

    const myInterval = setInterval(()=>{
        seconds -= 1;
        let minutesLeft = Math.floor(seconds/60);
        let secondsLeft = seconds%60;

        
        
        if (seconds == 0){
            let skip = document.getElementById('skipButton');
            skip.click();
        }
        if (seconds <= 0){
            myStopFunction();
        }
        countdownbox.innerHTML = `<b>${minutesLeft}min:${secondsLeft}sec left</b>`;

    }, 1000)

function myStopFunction(){
    clearInterval(myInterval);
}

</script>
<script>
    const AutoSubmit = function(){
        // console.log('The input button is clicked!')
        let endpoint = document.getElementById('submitButton');
        endpoint.click();
        endpoint.style.backGroundColor = '#fff';

    }
    const AutoClick = function(arg){
        let inputbx = arg.childNodes[1];
        inputbx.click();
        // console.log(inputbx)
        // console.log(arg);
    }
</script>


{% endblock content %}

