<div class="secret-block"></div>
<div class="footer fullscreen">
   <div class="footer-item-box">

<div id="quizLink" class="item">
   <i>A</i>
   <div>
      Quiz
   </div>
</div>

<div id="fourChoices" class="item">
   <i>A</i>
   <div>
      FourChoices
   </div>
</div>

<div id="qandaLink" class="item">
   <i>A</i>
   <div>
      Q&A
   </div>
</div>

<div id="trueOrFalse" class="item">
   <i>A</i>
   <div>
      TrueOrFalse
   </div>
</div>

<div class="item">
   <i>A</i>
   <div>
      Library
   </div>
</div>


    </div>
</div>
