
section .page-head
{
    display:block;
    width: 100vw;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1; */
    background: var(--white-color);
}


section .page-head .page-head-content
{
    width: inherit;
    background: var(--theme-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 10px;
}



section .page-head .page-head-content .head-block
{
    height: 40px;
}

section .page-head .page-head-content > *
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 20px;
}

section .secret-block
{
    height: 120px;
    background: var(--white-color);
    /* z-index: 1; */

}




section
{
    background: var(--white-color);
    z-index: 1;
}
section a > div.block-container
{
    padding: 10px 10px 10px 4px;
    border-bottom: 2px solid var(--theme-color);
    margin: 20px 10px 20px 4px;
}

section a div.block-container div
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    color: var(--theme-color);
    font-weight: 600;
}

a
{
    text-decoration: none;

}

section a div.block-container div span{
    font-size: 12px;
    color: var(--black-color);
}




div.iframe-container
{
    background: var(--theme-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

div.iframe-container div.iframe-Box
{
    margin-top: 30px;
    background: var(--white-color);
    color: var(--theme-color);
    padding: 4px;
    padding-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: calc(100vh - 50px);
}

div.iframe-container div.iframe-Box iframe
{
    width:100%;
    height: calc(100vh - 60px);
}
div.iframe-container div#BackBtn
{
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}

.iframe-active
{
    z-index: 20;
}

.iframe-inactive
{
    z-index: -10;
}

