*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--black-theme);
    transition: all 0.3s ease-in-out;
}


header{
    width: 100vw;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 3px var(--black-theme);
}


header .top-navigation{
    background: var(--white-color);
    padding: .01rem;
    width:100vw;
    height: 30px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}


header .top-navigation a{
    padding: 1rem 0.5rem;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--theme-color);
    width: 100px;
    text-align: center;
    border: none;
}


header .top-navigation a.active{
    color: var(--theme-color);
    font-weight: bold;
    height: 100%;
    position: relative;
    border-bottom: 3px solid var(--theme-color);
}

header .top-navigation a:hover{
    color: var(--theme-color);
    border-bottom: 3px solid var(--theme-color);
}


#profileUser{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}
span img.svg{
    height: 16px;
    width: 16px;
}

a.link{
    background: var(--white-color);
    color: var(--theme-color);
    text-decoration: none;
    text-align: center;
}

@media(max-width: 700px){
    body{
        font-size: 16px;
    }

    .name{
        font-size: 20px;
    }


    header .top-navigation a{
        height: 100%;
        padding: 0rem 0rem;
        width: 20%;
        font-size: 10px;
    }
}


