:root{
    --card-background-color: #fff;
    --background-color: #dfdfdf;
    --theme-color:  #777/* rgb(219, 104, 104) #333edb*/;
    --white-theme: #fff;
    --dark-theme: #666;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--dark-theme);
    transition: all 0.3s ease-in-out;
}
.menu{
    position: absolute;
    right:3px;
    top: 3px;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    /* border-bottom: 2px solid var(--dark-theme); */
    z-index: 11000;
    background-color: white;
    box-shadow: 0 1px 3px var(--dark-theme);
}

header .name h3{
    color: #f11919;
    font-weight: 600;
    font-size: 20px;
    display: absolute;
    top: 4px;
    left: 10px;
    margin-left: 10px;
}

header .top-navigation{
    background: #fff;
    padding: .01rem;
    width:100vw;
    /* max-width: 95vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


header .top-navigation a{
    padding: 1rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #a1a1a1;
    width: 100px;
    text-align: center;
    border: none;
}


header .top-navigation a.active{
    color: var(--theme-color);
    font-weight: bold;
    height: 100%;
    position: relative;
    border-bottom: 3px solid var(--theme-color);
}

header .top-navigation a:hover{
    color: var(--theme-color);
    border-bottom: 3px solid var(--theme-color);
}


#profileUser{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

span img.svg{
    height: 20px;
    width: 20px;
}


span .streakActive::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    background: #00ff00;
    width: 20px;
    height: 20px;
    border-radius: 5px;

}

span .streakInActive::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    background: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 5px;

}
/* 

span img{
    background: #77b822;
} */

a.link{
    background: #fff;
    color: var(--theme-color);
    text-decoration: none;
    text-align: center;
}

.create-quiz{
    position: fixed;
    background: var(--theme-color);
    border-radius: 10px;
    padding: 10px;
    bottom: 10px;
    right: 20px;
    box-shadow: 0 0 10px #666;
}

.create-quiz a{
    font-size: 20px;
    color: var(--white-theme);
    background: var(--theme-color);
}

@media(max-width: 700px){
    body{
        font-size: 16px;
    }

    header .name{
        font-size: 20px;
    }


    header .top-navigation a{
        height: 100%;
        padding: 0rem 0rem;
        width: 25%;
        font-size: 10px;
    }
}


