{% extends 'base.html' %}

{% load static %}
{% block title %}
{% block quizTitle %}{% endblock quizTitle %}

{% endblock title %}





{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}">
<meta name="description" content="add categories to quiz or question">
<meta name="keywords" content="categories,tothex,quiz,question">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="author" content="ToTheX">
{% block quizCss %}

{% endblock quizCss %}
{% endblock css %}




{% block content %}
{% block quizContent %}


{% endblock quizContent %}
{% endblock content %}
