{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>ToTheX | {% block quizTitle %}{% endblock quizTitle %}</title>
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}">
<meta name="description" content="add categories to quiz or question">
<meta name="keywords" content="categories,tothex,quiz,question">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="author" content="ToTheX">
{% endblock title %}





{% block css %}

{% block quizCss %}

{% endblock quizCss %}
{% endblock css %}




{% block content %}
{% block quizContent %}


{% endblock quizContent %}
{% endblock content %}
