{% extends 'base.html' %}
{% load static %}

{% block title %}
Categories
{% endblock title %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}?{{static_request}}">
{% endblock css %}

<section>
    {% if obj_type == 'quiz' %}
    <div class="head">Step 2 of 3</div>
    {% else %}
    <div class="head">Step 2 of 2</div>
    {% endif %}

<h3>Add Categories</h3>
<p>Add at least 1 category to get more views</p>
{% if obj_type == 'quiz' %}
    <div class="top-info">
        You can add up to 3 categories <br>Categories: <b class="counter">{{objCategories.count}}</b>
    </div>
    <!-- <input type="hidden" name="quiz" id="quiz" value="{{quiz.id}}"> -->
{% else %}
<div class="top-info">
    You can add up to 5 categories <br>Categories: <b class="counter">{{objCategories.count}}</b>
</div>
{% endif %}


{% include 'messages.html' %}
<div class="category-create" >
    <form action="" id="category-form" method="get">
        <input id="Search" value=""  type="text" name="newCategory" id="newCategory" placeholder="search or create">
        <input type="submit" value="search">
    </form>
</div>


<!-- <form action="" id="added-category-form" method="get"> -->
    click on a category in this bucket to remove it<br>
    <fieldset>
        <legend>Bucket</legend>
        <div id="categoryBucket">
            {% for category in objCategories %}
                <input type='text' id="{{category.title}}"  class="addedCategories" onclick="removeCategory(this.id)" name="addedCategories" value={{category.title}} readonly>
            {% endfor %}
        </div>
    </fieldset>
    <!-- add all the categories in the bucket to the quiz -->
    <!-- change all the submit buttons to red -->
    <!-- <input type="submit" value="Add"> -->
<!-- </form> -->


<!-- Add infinite scroll to the category with ajax -->
<div class="info">
    Click on any of the categories below to add it to the bucket above<br>
</div>


<div id="infinite-container">

{% for category in page_obj %}
<span class="infinite-item">
    <input type="button" onclick="updateCart(this.value)" value="{{category.title}}">
</span>
{% endfor %}
</div>
<br>
<br>
<div>
    {% if obj_type == 'quiz' %}
<a href="{% url 'quiz:new-question' quiz.id %}">
    <button>Add more Questions</button>
</a>
    {% else %}
    <a href="{% url 'question:new-question' %}">
        <button>Add more Questions</button>
    </a>
    
    {% endif %}
</div>
</section>


{% include 'jquery.html' %}
{% include 'loading.html' %}



<script>
    // $(document).ready(function(){

// var bucket = document.getElementById('categoryBucket');


function removeCategory(index){
    // let elem = document.getElementById(index);
    // elem.parentNode.removeChild(elem);
    ajaxifyRemoveCategory(index)

}
function updateCart(obj_name_char){
    ajaxifyAddCategory(obj_name_char)

    }
function addClassCategory(obj_name){
    let bucket = document.getElementById('categoryBucket');
bucket.innerHTML += `
<input type="text" id=${obj_name} onclick="removeCategory(this.id)" class = "addedCategories" name="addedCategories" value=${obj_name} readonly>
                        `;
};
var search = document.querySelector('#Search').value;
function checkSearchAndReload(){
    let response = document.querySelector('#Search').value;
        if (search != response){
            search = response;

            if(response != ''){
            collectCategories(response);
            };
        };


}

setInterval(checkSearchAndReload, 1000);

function collectCategories(searchData){
    let categoriesContainer = document.getElementById('infinite-container');

	$.ajax({
	type : 'GET',
	url : "{% url 'category:category-list' %}",
	data : {text: searchData},
	success : function(response){
        categoriesContainer.innerHTML = '';
        for(let res of response){
            categoriesContainer.innerHTML += `
            <span class="infinite-item">
                <input type="button" onclick="updateCart(this.value)" value="${res.title}">
            </span>
                            `;
        }
		},
	error : function(response){
		alert('An error occurred!');
		},
});

};

    // });





</script>
{% if obj_type == 'quiz' %}
<script>
// $(document).ready(function(){


    function ajaxifyRemoveCategory(old_category){
    let bucket = document.getElementById('categoryBucket');
    let counters = document.getElementsByClassName('counter');
	$.ajax({
	type : 'GET',
	url : "{% url 'quiz:category-remove' quiz.id %}",
	data : {removedCategory:old_category},
	success : function(response){
        bucket.innerHTML = '';
        console.log(response.categories);
        for(let category of response.categories){
            addClassCategory(category);
        };
        counters[0].innerHTML = response.category_count;
		},
	error : function(response){
		alert('An error occurred!');
		},
    });

    };
    function ajaxifyAddCategory(new_category){
    let bucket = document.getElementById('categoryBucket');
    let counters = document.getElementsByClassName('counter');

	$.ajax({
	type : 'GET',
	url : "{% url 'quiz:category-create' quiz.id %}",
	data : {request_type: 'ajax', addedCategory: new_category},
	success : function(response){
        bucket.innerHTML = '';
        console.log(response.categories);
        for(let category of response.categories){
            addClassCategory(category);
        };
        counters[0].innerHTML = response.category_count;

		},
	error : function(response){
		alert('An error occurred!');
		},
    });

    };

// });
</script>
{% elif obj_type == 'question' %}
<script>
// $(document).ready(function(){


    function ajaxifyRemoveCategory(old_category){
    let bucket = document.getElementById('categoryBucket');
    let counters = document.getElementsByClassName('counter');
	$.ajax({
	type : 'GET',
	url : "{% url 'question:category-remove' q_id %}",
	data : {removedCategory:old_category},
	success : function(response){
        bucket.innerHTML = '';
        console.log(response.categories);
        for(let category of response.categories){
            addClassCategory(category);
        };
        counters[0].innerHTML = response.category_count;
		},
	error : function(response){
		alert('An error occurred!');
		},
    });

    };
    function ajaxifyAddCategory(new_category){
    let bucket = document.getElementById('categoryBucket');
    let counters = document.getElementsByClassName('counter');

	$.ajax({
	type : 'GET',
	url : "{% url 'question:category-create' q_id %}",
	data : {request_type: 'ajax', addedCategory: new_category},
	success : function(response){
        bucket.innerHTML = '';
        console.log(response.categories);
        for(let category of response.categories){
            addClassCategory(category);
        };
        counters[0].innerHTML = response.category_count;

		},
	error : function(response){
		alert('An error occurred!');
		},
    });

    };

// }); 
</script>
{% endif %}
{% endblock content %}
