
<a href="{% url 'quiz:quiz-create' %}">
    create a quiz
</a>

<a href="{% url 'question:new-question' %}">
    create a question
</a>

<div class="copy-link-container">
    <div class="label">
        Copy link
    </div>
    <div class="copy-text">
        <input id="copy-link" type="text" class="text" value="">
        <button onclick="copyFunction()">Copy</button>
    </div>
</div>

<div class="social-share">
    <i style="font-size: 11px; color: #999;">
        Refer To Earn More Coins (20 coins per click)
    </i>
    <div>
        <a id="shareButton" href="#">Share to Social Media</a>
    </div>
{% post_to_facebook  object_or_url 'Post to Facebook' %}
{% post_to_twitter "Take A Quiz: {{quiz.title}}" object_or_url "Post to Twitter" %}
{% post_to_linkedin  object_or_url "Post to" %}
{% send_email "ToTheX Quiz" "Take A Quiz: {{quiz.title}}" object_or_url "Share via email" %}
{% post_to_reddit "Take A Quiz: {{quiz.title}}" object_or_url %}
{% post_to_telegram "Take A Quiz: {{quiz.title}}" object_or_url %}
{% post_to_whatsapp object_or_url "Share via WhatsApp" %}
{% save_to_pinterest object_or_url %}
</div>








// console.log(document.querySelector('.social-share'))

// const yourAnswer = document.getElementsByClassName('yourAnswer')
//     const correctAnswer = document.getElementsByClassName('correctAnswer')
//     const indicators = document.getElementsByClassName('indicator')
//     for(let i = 0; i < yourAnswer.length; i++){
//         console.log(yourAnswer[i].innerText)
//         console.log(correctAnswer[i].innerText)
//         if(yourAnswer[i].innerText  == correctAnswer[i].innerText){
//             indicators[i].style.backgroundColor =  'green';
//             console.log('correct!');
//         }else{
//             indicators[i].style.backgroundColor =  'red';
//             console.log('wrong!');
//         }
//     }




// function copyFunction(){
    //     let copyText = document.getElementById('copy-link');
    //     copyText.select();
    //     copyText.setSelectionRange(0,99999);
    //     // document.execCommand("copy")
    //     navigator.clipboard.writeText(copyText.value);
    //     alert("Copied the text: " + copyText.value);
    
    // }
    
    






    <!-- 
        {% if postAd.picture %}
        <div>
            <img src="{{postAd.picture.url}}">
        </div>
        {% endif %}
        <div>
            {{postAd.description|safe}}
        </div>
        {% if postAd.link %}
        <div>
            <a class="postAd" onclick="clickFunction()" data-url="{% url 'ads:post-click' postAd.id 'correction' %}" href="{{postAd.link}}" target="_blank">Visit Site</a>
        </div>
        {% endif %}

        -->
        
        
<!-- </div> -->









# if profile.recommended_quizzes.count() < 1:
                
            #     age = profile.get_user_age
            #     categories = profile.categories.all()
            #     lookup = Q(categories__in=categories) & Q(age_from__lte=age) & Q(age_to__gte=age) #& Q(questionLength__gte=3)
            #     quizzes = Quiz.objects.filter(lookup).distinct()
            #     takenQuiz = profile.quizTaken.all()
            #     level1 = 0
            #     level2 = 0
            #     level3 = 0
            #     level4 = 0
            #     while quizzes.count() > 0:
            #         quiz =  randomChoice(quizzes)
            #         quizzes = quizzes.exclude(id=quiz.id)
            #         if quiz not in takenQuiz:
            #             if quiz.relevance >= 0 and quiz.relevance <= 50 and level1 < 10:
            #                 profile.recommended_quizzes.add(quiz)
            #                 level1 += 1
            #             elif quiz.relevance > 50 and quiz.relevance <= 150 and level2 < 20:
            #                 profile.recommended_quizzes.add(quiz)
            #                 level2 += 1
            #             elif quiz.relevance > 150 and quiz.relevance <= 300 and level3 < 30:
            #                 profile.recommended_quizzes.add(quiz)
            #                 level3 += 1
            #             elif quiz.relevance > 300 and level4 < 40:
            #                 profile.recommended_quizzes.add(quiz)
            #                 level4 += 1
            #     if profile.favoriteUser is not None:
            #         lookup = Q(user=profile.favoriteUser) & Q(age_from__lte=age) & Q(age_to__gte=age)
            #         liked_users_quizzes = Quiz.objects.filter(lookup)[:10]
            #         for q in liked_users_quizzes:
            #             profile.recommended_quizzes.add(quiz)

            # quizzes = profile.recommended_quizzes.order_by('?')





            <img 
            src="
            {% with 'images/'|add:provider.name|add:'.png' as image %}
            {% static image %}
            {% endwith %}
            " alt="{{ provider.name }}" height="50" width="250"/>
            </a>