{% extends 'quiz/base.html' %}
{% load static %}
{% load social_share %}

{% block quizTitle %}
Create Four Choices Questions
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}">

{% endblock quizCss %}


{% load crispy_forms_tags %}

{% include 'messages.html' %}
<div class="containerBx">
    <form action="" method="post">
        {% csrf_token %}
        {{fourChoicesForm|crispy}}
        <input type="submit" value="Create"  style="margin: 5px 0 5px 4px;background: #f11919; color: #fff;  width: 200px; max-width: 90vw; padding: 4px 4px;border-radius: 4px; border: none;">
    </form>
    
</div>




{% endblock content %}











