{% extends 'quiz/base.html' %}
{% load static %}
{% load social_share %}

{% block quizTitle %}
Quiz Detail
{% endblock quizTitle %}

{% block content %}

{% block quizCss %}
<link rel="stylesheet" href="{% static 'quiz/css/quizdetail.css' %}">
{% include 'chartjs.html' %}

{% endblock quizCss %}

{% include 'messages.html' %}

<div class="detail">
    
        <div>
            <a href="{% url 'profile:profile' quiz.user %}">
                    @{{quiz.user}}
            </a>
        </div>
        <div class="categories">
                Categories:
                {% for category in quiz.categories.all %}
                    <span class="category">
                        <a href="{% url 'quiz:category-quiz' category.title %}">
                            {{category.title}}
                        </a>
                    </span>
                {% endfor %}
        </div>
        <div >Title: {{quiz.title|capfirst}}</div>
        <div id="description">{{quiz.description|safe}}</div> 
        <div>
            <div >created by {{quiz.user|capfirst}}</div>
            <div >It was created on {{quiz.date|date}} {{quiz.date|time}}</div> 
            <div > Attempts: {{quiz.attempts}}
            </div>
            <div class="questionLength">
                Questions: <span id="questionLength">{{quiz.questionLength}}</span>  
                        
            </div>
            <div class="average">
                        {{quiz.average_score}}%
            </div>
            <div class="duration">
                        {{quiz.get_quiz_duration}}
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div style="width: 250px;">
                    <canvas id="myChart{{quiz.id}}" width="3vw" height="3vh"></canvas>
                </div>
            </div>
        </div>
        <div>
            <form data-quiz="{{quiz.id}}" data-url="{% url 'quiz:post-like' %}" data-id="likeForm{{quiz.id}}" id="likeForm{{quiz.id}}" method="post" class="likeForm">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{quiz.id}}">
                {% if not request.user in quiz.likes.all %}
                    <button id="like{{quiz.id}}" type="submit">
                        <div style="color:#fff;" id="likeButton{{quiz.id}}" >like</div>
                    </button>
                {% else %}
                    <button id="like{{quiz.id}}" type="submit">
                        <div  style="color:#fff;" id="likeButton{{quiz.id}}" >unlike</div>
                    </button>
                {% endif %}
            </form>
        </div>
        
        <div class="linkBx likes">
            <!-- assign this value to a variable -->
            likes: <span class="likeCounter">{{quiz.likeCount}}</span>
        </div>
        <div>
            <a href="{% url 'quiz:take-quiz' quiz.id %}">
                    Take Quiz
            </a>
        </div>

        {% if quiz.user == user %}
        <div>
            <a href="{% url 'quiz:quiz-update' quiz.id %}">Edit Quiz</a>
        </div>
        <div>
            <form id="deleteQuizForm" action="{% url 'quiz:delete-quiz' quiz.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete Quiz">
            </form>
            <!-- <a id="deleteQuiz" href="{% url 'quiz:delete-quiz' quiz.id %}"><p>× Delete Quiz</p></a> -->
        </div>
        <div>
            <a id="openForm" href="{% url 'quiz:new-question' quiz.id %}">+ Add More Questions</a>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'quiz:random-quiz-picker' %}">Take Another Quiz</a>
        </div>
 
<div class="social-share">
    <i style="font-size: 11px; color: #999;">
        Refer To Earn More Coins (20 coins per click)
    </i>
    <div>
        <a id="shareButton" href="#">Share to Social Media</a>
    </div>

</div>

<div>
    <a href="{% url 'quiz:quizzes' %}">Go back to the home page</a>
</div>



{% if quizLink %}
<div>
    <span>Link below: </span>
        <div class="link-container">
        <a onclick="QuizLinkClickFunction()" data-url="{% url 'quiz:quiz-link-click-counter' quizLink.id %}" class="profile-link" href="{{quizLink.link}}" target="_blank" rel="noopener noreferrer">{{quizLink.name}}</a>
        </div>
        <div style="font-size: 12px; color: #777;">
            {{quizLink.description}} <br>
            clicks: {{quizLink.clicks}} <br>
            {% if quizLInk.ban %}
                This link has been banned!
            {% endif %}
        </div>
        
</div>
{% endif %}
{% if attempters %}
<div>
    <ol class="answers">
        <p>Highest Scores</p>
    {% for attempter in attempters %}
    <div>
        <li>
            <span>@{{attempter.user}}</span>
            <span>{{attempter.score}}</span>
            <span>{{attempter.get_percentage}}</span>
            <div style="font-size: 11px; color: #999; font-style: italic; ">
                {{attempter.get_timetaken}}
            </div>
        </li>
    </div>
    
    {% endfor %}
    </ol>
</div>

{% endif %}

<div>
    <div style="text-align: center;">Questions</div>
    {% for index, question in questions %}
    {% if question.form == 'fourChoicesQuestion' %}

    <div class="questions">

        <div class="quizItem">
            {{question.question|truncatechars:80|safe}}
        </div>
        {% if quiz.user == user %}
        <div class="private-links">
            <a class="deleteButton" data-url="{% url 'quiz:delete-question' quiz.id 'fourChoices' question.id %}"  href="{% url 'quiz:delete-question' quiz.id 'fourChoices' question.id %}">Delete</a>
            <a class="" data-url="{% url 'quiz:edit-fourChoicesQuestion' quiz.id question.id %}" href="{% url 'quiz:edit-fourChoicesQuestion' quiz.id question.id %}">Edit</a>
        </div>
        {% endif %}
    </div>
    {% elif question.form == 'trueOrFalseQuestion' %}
    <div class="questions">
        <div class="quizItem">
            {{question.question|truncatechars:80|safe}}
        </div>
        {% if quiz.user == user %}
        <div class="private-links">
            <a class="deleteButton" data-url="{% url 'quiz:delete-question' quiz.id 'trueOrFalse' question.id %}" href="{% url 'quiz:delete-question' quiz.id 'trueOrFalse' question.id %}">Delete</a>
            <a class="" data-url="{% url 'quiz:edit-trueOrFalseQuestion' quiz.id question.id %}" href="{% url 'quiz:edit-trueOrFalseQuestion' quiz.id question.id %}">Edit</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
        
    {% endfor %}


    <div class="contentBx inactive-bar">
        <div class="formBx">
            <h2>Create Question</h2>
            <div class="question-info">You'll earn 0.1 coin per successful attempt</div>
    <div>
        <a class="create" href="{% url 'quiz:trueOrFalseQuestion' quiz.id %}">Create A True Or False Question</a>
    </div>
    <div>
        <a class="create" href="{% url 'quiz:fourChoicesQuestion' quiz.id %}">Create A Four Choices Question</a>
    </div>
    
    
    </div>
    <a href="{% url 'question:questions' %}">Go Back</a>
    </div>
    
    

{% include 'jquery.html' %}

<script>
    let avgScore = parseFloat('{{quiz.average_score}}')
    let wrong = 100 - avgScore
    let ctx = document.getElementById('myChart{{quiz.id}}').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['avgScore', 'wrong'],
            datasets: [{
                label: '# of Attmepts',
                data: [avgScore, wrong],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    // 'rgba(255, 206, 86, 0.2)',
                    // 'rgba(75, 192, 192, 0.2)',
                    // 'rgba(153, 102, 255, 0.2)',
                    // 'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    // 'rgba(255, 206, 86, 1)',
                    // 'rgba(75, 192, 192, 1)',
                    // 'rgba(153, 102, 255, 1)',
                    // 'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>



<script>

const formContainer = document.querySelector('.contentBx');
    const openForm = document.querySelector('#openForm');
    openForm.addEventListener('click', function(e){
        e.preventDefault()
        formContainer.classList.toggle('inactive-bar');
    });

    formContainer.addEventListener('click', function(){
        formContainer.classList.toggle('inactive-bar');
        
    });

</script>
<script>

$('.deleteButton').click(function(e){
        e.preventDefault();
        // Add a logic that removes the user that's not the creator of this quiz
        let ans = confirm('This change is permanent\nAre you sure you want to delete this question?');
        if (ans == true){
            const objectBx = $(this);
            $.ajax({
                type: 'GET',
                url : $(this).data('url'),
                data : {
                },
                success : function(response){
                    objectBx.parent().parent().hide(500);
                    // $('#questionLength').text('{{quiz.questionLength|add:-1}}')
                    document.getElementById('questionLength').innerText = parseInt(document.getElementById('questionLength').innerText) + 1
                    

                },
                error : function(){
                    alert('It falis silently!')
                }

            });
        }
    });
</script>
    



<script>
// var like_count = '{{quiz.likeCount}}'
// console.log('This is the like count')
// console.log(like_count)
$('.likeForm').submit(function(e){
    e.preventDefault();
const serializeData = $(this).serialize()
const quiz_id = $(this).data('quiz')
console.log('It is working until ajax')
$.ajax({
    type: 'POST',
    url : $(this).data('url'),
    data : serializeData,
    success : function(response){
        
        if (response == 'liked'){
            $(`#likeButton${quiz_id}`).text('unlike');
            $('.likeCounter').text('{{quiz.likeCount|add:1}}')
            // var like_count = parseInt(like_count) + 1
            // console.log(like_count)

            // let no_of_likes = $('.likeCounter').val()
            // $('.likeCounter').text(String(no_of_likes + 1))
            
        }else if (response == 'unliked'){
            $(`#likeButton${quiz_id}`).text('like');
            // var like_count = parseInt(like_count) - 1
            // console.log(like_count)

            $('.likeCounter').text('{{quiz.likeCount|add:-1}}')
            // $('.likeCounter').text(String(like_count))

            // let no_of_likes = $('.likeCounter').val()
            // $('.likeCounter').text(String(no_of_likes - 1))
  

        }
        

    },
    error : function(){
        alert('It falis silently!')
    }

});
// var like_count = like_count
// console.log(like_count)

})
</script> 


<script>

$('#deleteQuizForm').submit(function(e){
    e.preventDefault()
    let ans = confirm('This change is permanent\nAre you sure you want to delete this quiz?');
    if (ans == true){
        const serializeData = $(this).serialize()
        $.ajax({
        type: 'POST',
        url : $(this).attr('action'),
        data : serializeData,
        success : function(response){
            window.location.reload();
        },
        error : function(){
            alert('It falis silently!')
        }
        });
    }

})
</script>

<script>

const shareButton = document.querySelector('a#shareButton');
const title = window.document.title;
const url = window.document.location.href;
shareButton.addEventListener('click', (e) => {
    e.preventDefault();
    if(navigator.share){
        navigator.share({
            title: `${title}`,
            url : `${url}`
        }).catch(console.error);
    }else{
        alert('Use a default share button');
    }
});

</script>

{% endblock content %}
