{% load static %}


{% block quizCss %}
<link rel="stylesheet" href="{% static 'quiz/css/quizzes_list.css' %}">
{% endblock quizCss %}
{% include 'navbar.html' %}

{% include 'messages.html' %}

<input type="hidden" name="nav" id="navActive" value="{{nav}}">

<div class="head-link">
    <a href="{% url 'quiz:quizzes' %}" id="all">All</a>
    <a href="{% url 'quiz:following-quizzes' %}" id="following">Followings</a>
    <a href="{% url 'quiz:my-quizzes' %}" id="my">My quizzes</a> 
    <a href="{% url 'quiz:quizTaken' %}" id="quizTaken">Taken</a>   
    <a href="{% url 'quiz:favorites' %}" id="favorites">Favorites</a> 
</div>



<div style='text-align: center;' id="random"> <a href="{% url 'quiz:random-quiz-picker' %}"><span class="random">Take A Random Quiz →</span></a> </div>
<div style='text-align: center;'>Total Number Of Registered Users : {{number_of_registered_users}}</div>
<div style='text-align: center;'>Total Number Of Quizzes Created : {{number_of_quizzes_created}}</div>
<div style='text-align: center;'>Total Number Of Questions Created : {{number_of_questions_created}}</div>


{% include 'search.html' %}

<div class="card-container infinite-container">
    {% for quiz in page_obj %}
        <div class='card infinite-item'>
            <div class="contentBx">
                <a href="{% url 'profile:profile' quiz.user %}" class="username">
                    <img src="https://picsum.photos/20" alt="">
                    @{{quiz.user}}
                </a>
                <div class="categories">
                    {% for category in quiz.categories.all %}
                        <div class="category">
                            <a href="{% url 'quiz:category-quiz' category.title %}">
                                {{category.title}}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div id="outputDate" class="outputDate">{{quiz.when}}</div>
                <!-- use aspect-ratio for the background of the title. -->
                <div class="title-block">
                    <a class="link" href="{% url 'quiz:quiz-detail' quiz.id profile.code %}">
                        <img src="https://picsum.photos/300/180" alt="">
                        <div class="title">
                            {{quiz.title|capfirst}}
                        </div>
                    </a>
                    
                
                </div>
                <div class="desc">
                    {{quiz.description|linebreaks|truncatewords:50}}
                </div>
                <!-- <div class="creator"> -->
                <!-- <div class="create" style="display:none;">{{quiz.user|capfirst}}</div> -->
                <!-- <div class="date"  style="display:none;">{{quiz.date|date:"Y-M-d"}} {{quiz.date|time:"H:i"}}</div>  -->
                <!-- </div> -->
                <div class="inline inlineOne">
                    
                    <div style="color:#999;" class="questionLength">
                        questions: {{quiz.questionLength}} 
                    </div>
                   
                    <div style="color:#999;" class="duration">
                        {{quiz.get_duration}}
                    </div>

                </div>
                <div style="color:#999;" class="inline inlineTwo">
                    <div style="color:#999;" class="attempt">
                        attempts: {{quiz.attempts}}
                    </div>
                    <div style="color:#999;" class="average">
                        {{quiz.average_score}}%
                    </div>
                    <div style="color:#999;">
                        {{quiz.age_from}} to {{quiz.age_to}} years
                    </div>

                </div>
                       <div class="linkBx">
                        <div id="likes">
                    <span>likes: {{quiz.likeCount}}</span>
                         
                        </div>
                        <div id="take-quiz">
                            <a class="link" href="{% url 'quiz:take-quiz' quiz.id %}"><div>Take Quiz →</div></a>
                        </div>
                       </div>
            </div>
        </div>
    {% endfor %}
</div>


<div class="d-flex d-none position-fixed" style="color:white;bottom:2vh;left:46vw">
    <button style="display:none;" class="btn btn-danger loading">
        <span style="color:white; display:none" class="spinner-border spinner-border-sm"></span>
    </button>
</div>

<div class="row d-none">
    <div class="col-12">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
</div>
<script>
    
</script>
<script src="{% static 'js/jquery.js' %}"></script>
<script>



let nav = document.querySelector('#navActive');
let navigation = nav.value;
console.log(navigation);

let all = document.querySelector('#all');
let following = document.querySelector('#following');
let my = document.querySelector('#my');
let quizTaken = document.querySelector('#quizTaken');
let favorites = document.querySelector('#favorites')


let topNavigation = document.querySelectorAll('.topNavigation');




if (navigation == 'quizzes'){
    all.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'following-quizzes'){
    following.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'my-quizzes'){
    my.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'quizTaken'){
    quizTaken.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'favorites'){
    favorites.classList.add('active')
    topNavigation[0].classList.add('active');
}

function likeFunction(value){
    like(value);
}
</script>
<script src="/static/quiz/js/quizzes_list.js"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],

        offset: 'bottom-in-view',

        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
            // function reload_js(src) {
            // $('script[src="' + src + '"]').remove();
            // $('<script>').attr('src', src).appendTo('head');
            // }
            // reload_js("{% static 'quiz/js/quizzes_list.js' %}");

        }
        
    
    });
</script>
