{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/quizzes.css' %}?{{static_request}}">
<meta name="description" content="Quizzes">
{% endblock css %}
{% include 'navbar.html' %}

{% include 'messages.html' %}

<input type="hidden" name="nav" id="navActive" value="{{nav}}">

{% include 'quiz/navigation.html' %}

<div style='text-align: center;padding: 4px; border-radius:4px;' id="random"> <a href="{% url 'quiz:random-quiz-picker' %}"><span class="random">Take A Random Quiz →</span></a> </div>


{% include 'search.html' %}

<div class="card-container infinite-container">
    {% for quiz in page_obj %}
        {% include 'quiz/quizBx.html' %}
    {% endfor %}
</div>

{% include 'quiz/openForm.html' %}
<div class="d-flex d-none position-fixed" style="color:white;bottom:2vh;left:46vw">
    <button style="display:none;" class="btn btn-danger loading">
        <span style="color:white; display:none" class="spinner-border spinner-border-sm"></span>
    </button>
</div>

<div class="row d-none">
    <div class="col-12">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
</div>



{% include 'jquery.html' %}



<script>
let nav = document.querySelector('#navActive');
let navigation = nav.value;
console.log(navigation);

let all = document.querySelector('#all');
let following = document.querySelector('#following');
let my = document.querySelector('#my');
let quizTaken = document.querySelector('#quizTaken');
let favorites = document.querySelector('#favorites')


let topNavigation = document.querySelectorAll('.topNavigation');




if (navigation == 'quizzes'){
    all.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'following-quizzes'){
    following.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'my-quizzes'){
    my.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'quizTaken'){
    quizTaken.classList.add('active')
    topNavigation[0].classList.add('active');
}else if (navigation == 'favorites'){
    favorites.classList.add('active')
    topNavigation[0].classList.add('active');
}

function likeFunction(value){
    like(value);
}


</script>


<script src="{% static 'quiz/js/quizzes_list.js' %}"></script>


{% include 'waypoint.html' %}
