

{% extends 'base.html' %}

{% load static %}
{% load social_share %}
{% block title %}
Quiz Submit
{% endblock title %}

{% block content %}

{% block css %}
{% include 'mathjax.html' %}

<link rel="stylesheet" href="{% static 'quiz/css/rsubmitQuiz.css' %}?{{static_request}}">
{% endblock css %}
{% if not user.is_authenticated %}
{% include 'core/authenticate.html' %}
{% endif %}


<div style="display: block;border-bottom: 1px solid #ccc;height: 50px;box-shadow: 0 1px 4px #ccc;position: sticky;top: 0;left: 0;background: #fff;z-index: 1000;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
    <div style="padding-right: 6px;">
        <a style="margin-right: 7px;color: black;text-decoration: none;font-size: 40px;padding-right: 4px;"
        href="{% url 'quiz:quizzes' %}" 
        alt="NeuGott back button">
            ←
        </a>
        <span style="color: #a83425;font-weight:600; font-size:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            NeuGott
        </span>
  
    </div>
</div>



<div class="question-card-container">
    <div>
        <div class="link-container">
            <a href="{% url 'quiz:quizzes' %}">Go back home</a>
        </div>
    </div>

    <div>
        <div class="link-container">
            <a href="{% url 'profile:profile' quiz.user %}">
                @{{quiz.user}}
            </a>
        </div>
    </div>

    
{% include 'messages.html'%}

    <div>
        {{attempt_report}}
        <br>
        You scored: <span style="font-size:25px;">{{user_score}}/{{total_score}}</span>
        <br>
        Total quiz attempts : {{quiz.attempts}}
        <br>
        Quiz's average score: {{avgScore}}%
        <br>
        Your Average Score:  <span style="font-size:25px;">{{user_avg_score}}%</span>
        <br>
        {{timeTaken}}
        <p>
        You don't see the solutions to questions you didn't answer!

        </p>
    </div>
</div>


<div class="question-card-container download-quiz">
    <div>
        {% if quiz.composition %}
        <div class="q-box">
            <p>
            {{quiz.composition|safe}}
            </p>
        </div>
        {% endif %}
    </div>
        <ol>
        
        {% for question, answer in questionsList %}
        <div class="question-box">

            {% if question.form == 'fourChoicesQuestion' %}
        <li class="question">

            <div class="indicator"></div>

            <div>
                <div class="q-box">
                    {{question.question|safe}}
                </div>
                {% include 'question/imgBx.html' %}

                    <div class="points">
                        {% if question.points < 2 %}
                        {{question.points}} point
                    {% else %}
                        {{question.points}} points
                    {% endif %}
                    </div>
                    <ol class="answers">
                        {% if question.correct == 'answer1' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>
                        {% elif answer == question.answer1 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer1}}  
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'answer2' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer2}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>
                        {% elif answer == question.answer2 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer2}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer2}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'answer3' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer3}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                        </li>
                        {% elif answer == question.answer3 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer3}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer3}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer3}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'answer4' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer4}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                        </li>
                        {% elif answer == question.answer4 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer4}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer4}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer4}}</div>
                        </li>

                        {% endif %}





                    </ol>
                    <div class="solution">
                        <!-- Solution: -->

                        <!-- <div class="q-box"> -->
                            {{question.solution|safe}}
                        <!-- </div> -->
                        {% include 'question/solutionImgBx.html' %}

                    </div>
                    <form  class="shareButton" data-title="{{question.question|safe|truncatewords:20}}" data-href="{% url 'question:take-four-choices-question' question.id %}"  action="" method="get">
                        <input type="submit" value="Share">
                    </form>
            </div>
        </li>
            {% elif question.form == 'trueOrFalseQuestion' %}
            <li class="question">
                <div class="indicator"></div>


                <div>
                    <div class="q-box">
                        {{question.question|safe}}
                    </div>
                    {% include 'question/imgBx.html' %}

                        <div class="points">
                            {% if question.points < 2 %}
                            {{question.points}} point
                        {% else %}
                            {{question.points}} points
                        {% endif %}
                        </div>
                        <ol class="answers">
                            {% if question.correct == 'True' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer1}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>
                        {% elif answer == question.answer1 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer1}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer1}}</div>
                        </li>

                        {% endif %}






                        {% if question.correct == 'False' %}
                        <li class="answerGreen">
                            <div class="answer">
                                {{question.answer2}}
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>
                        {% elif answer == question.answer2 %}
                        
                        <li class="answerRed">
                            <div class="answer">
                                {{question.answer2}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% else %}

                        <li class="answerWhite">
                            <div class="answer">
                                {{question.answer2}} 
                            </div>
                            <div class="percentage">{{question.get_percentage_chosen_of_answer2}}</div>
                        </li>

                        {% endif %}
                           
                        </ol>
                        <div class="solution">
                            <!-- Solution: -->

                            <!-- <div class="q-box"> -->
                                {{question.solution|safe}}
                            <!-- </div> -->
                           {% include 'question/solutionImgBx.html' %}

                        </div>
                        <form  class="shareButton" data-title="{{question.question|safe|truncatewords:20}}" data-href="{% url 'question:take-true-or-false-question' question.id %}"  action="" method="get">
                            <input type="submit" value="Share">
                        </form>
                </div>
            </li>

            {% endif %}
        </div>
        {% endfor %}
    </ol>




    {% if attempters %}
    <div>
        Highest scores
        <ol class="scores">
        {% for attempter in attempters %}
        <div>
            <li>
                <span>@{{attempter.user}}</span>
                <span>{{attempter.score}}</span>
                <span>{{attempter.get_percentage}}</span>
                <span style="font-size: 16px; color: #555; font-style: italic; ">
                    {{attempter.get_timetaken}}
                </span>
            <span><a style="font-size:30px;" href="{% url 'profile:profile' attempter.user %}">→</a></span>
            </li>
        </div>
       
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    





    </div>
<div class="question-card-container">
    <div class="linkBx">
        <div id="likes">
         
            <form data-quiz="{{quiz.id}}" data-url="{% url 'quiz:post-like' %}" data-id="likeForm{{quiz.id}}" id="likeForm{{quiz.id}}" method="post" class="likeForm">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{quiz.id}}">
                {% if not user in quiz.likes.all %}
                    <button id="like{{quiz.id}}" type="submit">
                        <div style="color:#fff;" id="likeButton{{quiz.id}}" >like</div>
                    </button>
                {% else %}
                    <button id="like{{quiz.id}}" type="submit">
                        <div  style="color:#fff;" id="likeButton{{quiz.id}}" >unlike</div>
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
    <div style="display:none; max-width: 500px;" class="result">
    
    </div>
    <div>
        <div class="link-container">
            <a href="{% url 'quiz:random-quiz-picker' %}">Take Another Quiz</a>
        </div>
    </div>
    
    {% if user.is_authenticated %}
    {% if not user in quiz.solution_validators.all %}
    <div>
        <form method="get" id="solutionQualityForm" data-url="{% url 'quiz:solution-quality' quiz.id %}">
            <div>Are the solutions helpful?</div>
            <div> <i style="text-align:center; font-size: 11px;">This helps us to estimate the quality of this quiz</i> </div>
        <input type="radio" id="yes"  name="quality" value="Yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no"  name="quality" value="No">
        <label for="no">No</label>
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
    {% endif %}
    {% endif %}
    <div>
        <div>
            <div class="link-container">
                <a href="{% url 'quiz:take-quiz' quiz.id %}">Re-take Quiz</a>

            </div>
        </div>
    </div>
    
    <!-- <div>
        <div class="link-container">
            <a href="" class="a">Download the Image</a>
        </div>
    </div>
    -->
    <div>
        <div class="link-container">
            <a href="{% url 'quiz:quiz-pdf' quiz.id %}">
                Download the Pdf
            </a>
        </div>
    </div>


<div class="social-share">
    <i style="font-size: 15px; color: #333;">Refer To Earn More Coins (20 coins per click)</i>
    
    <div>
        <a id="shareButton" href="#">Share to Social Media</a>
    </div>
</div>
<div>
    <form action="{% url 'quiz:quiz-create' %}" method="get">
        <button id="like{{quiz.id}}" type="submit">
            <div  style="color:#fff; width: 200px;" >Create Quiz +</div>
        </button>
    </form>
</div>
{% if quizLink %}
<div>
    <span>Link below: </span>
        <div class="link-container">
        <a onclick="QuizLinkClickFunction()" data-url="{% url 'quiz:quiz-link-click-counter' quizLink.id %}" class="profile-link" href="{{quizLink.link}}" target="_blank" rel="noopener noreferrer">{{quizLink.name}}</a>
        </div>
        <div style="font-size: 14px; color: #777;">
            {{quizLink.description}}
        </div>
        {% if request.user.is_authenticated and request.user not in quizLink.reporters.all %}
            <form id="report" action="{% url 'quiz:report-link' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="quizlink_id" value="{{quizLink.id}}">
                <input type="hidden" name="user" value="{{request.user.id}}">
                <div class ="link-container">
                    <input class="report-link" type="submit" value="Report Link">
                </div>
            </form>
        {% endif %}
</div>
{% endif %}

{% include 'ads/adSection.html' %}
</div>

<div id="suggestions">
    <div>Suggestions</div>
    {% for quiz in suggestions  %}
        <div class="suggest">
            <div class="title">
                <a href="{% url 'quiz:take-quiz' quiz.id %}">{{quiz.title}}</a>
            </div>
            <div class="description">{{quiz.description|safe}}</div>
            <div class="combine">
                <span>{{quiz.date|date}}</span>
                <span>{{quiz.average_score}}%</span>
                <span>attempts: {{quiz.attempts}}</span>
            </div>
        </div>
    {% endfor %}
    {% for quiz in user__quizzes %}
        <div class="suggest">
            <div class="title">
                <a href="{% url 'quiz:take-quiz' quiz.id %}">{{quiz.title}}</a>
            </div>
            <div class="description">{{quiz.description|safe}}</div>
            <div class="combine">
                <span>{{quiz.date|date}}</span>
                <span>{{quiz.average_score}}%</span>
                <span>attempts: {{quiz.attempts}}</span>
            </div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'question/html2canvas.js' %}"></script>
{% include 'jquery.html' %}
{% include 'loading.html' %}
<script src="{% static 'js/fullscreenImage.js' %}"></script>

<script>

    let elm = document.querySelector('.download-quiz');
    elm.prepend("");
    html2canvas(elm).then(function(canvas){
        document.querySelector('.result').append(canvas);
        let cvs = document.querySelector('canvas');
        let a = document.querySelector('.a');
        a.href = cvs.toDataURL();
        a.download = 'NeuGott_{{quiz.title}}.png'
    })

</script>

<script>


    function QuizLinkClickFunction(){
        $.ajax({
            // change this to post
            type: 'GET', 
            url : $('a.profile-link').data('url'),
            data : {
                quizlink : $('a#report-link').data('id'),
                reporter : $('a#report-link').data('user'),
            },
            success : function(response){
                alert('link clicked!')
            },
            error : function(){
                alert('It falis silently!')
            }

        });

    }
</script>
<script>
$(document).ready(function(){

$('form#report').submit(function(e){
    e.preventDefault();
        alert('click!')
        const serializedData = $('form#report').serialize();
        $.ajax({
            // change this to post
            type: 'POST', 
            url : $('form#report').attr('action'),
            data : serializedData,
            success : function(response){
                alert('link clicked!')
                $('form#report').hide(500);
                console.log(response);
                console.log('Why are you prosecuting me?')

            },
            error : function(response){
                alert('It falis silently!')
                console.log(response)
            }

        });

})
});

</script>

<script>
    function ActivateForm(){
    const solution = document.getElementById('solutionQualityForm');
    solution.submit();
}

$(document).ready(function(){



    $(document).on('submit', '#solutionQualityForm', function(e){
    e.preventDefault();
        const object = $('#solutionQualityForm');
        const dataList = object.serialize()
        $.ajax({
            type: 'GET', 
            url : $('#solutionQualityForm').data('url'),
            data : dataList,
            success : function(response){
                $('#solutionQualityForm').parent().hide(1000);
            },
            error : function(){
            }
        });
        });
    })
;
</script>


<script>
$(document).ready(function(){

$('.likeForm').submit(function(e){
e.preventDefault();
const serializeData = $(this).serialize()
const quiz_id = $(this).data('quiz')
$.ajax({
    type: 'POST',
    url : $(this).data('url'),
    data : serializeData,
    success : function(response){
        if (response == 'liked'){
            $(`#likeButton${quiz_id}`).hide();
        }else if (response == 'unliked'){
            $(`#likeButton${quiz_id}`).hide();
        }
        

    },
    error : function(){
        alert('It falis silently!')
    }

});
})
})
;
</script>
<script>
const shareButton = document.querySelector('a#shareButton');
const title = window.document.title;
const url = window.document.location.href;
shareButton.addEventListener('click', (e) => {
    e.preventDefault();
    if(navigator.share){
        navigator.share({
            title: `${title}`,
            url : `${url}`
        }).catch(console.error);
    }else{
        alert('Use a default share button');
    }
});
</script>
<script>
    let questionShareButton = document.querySelectorAll('form.shareButton');

Array.from(questionShareButton).forEach(shareBtn => {
    shareBtn.addEventListener('submit', e =>{
        // do something
        e.preventDefault();
        if(navigator.share){
            navigator.share({
                title: shareBtn.dataset.title,
                url : shareBtn.dataset.href
            }).catch(console.error);
        }else{
            alert('Use a default share button');
        }
    });
});
</script>
{% endblock content %}