
{% extends 'base.html' %}

{% load static %}

{% block title %}
Take Quiz {{quiz.slug}}
{% endblock title %}

{% block content %}

{% block css %}
{% include 'mathjax.html' %}

<link rel="stylesheet" href="{% static 'quiz/css/takequiz.css' %}">
{% endblock css %}


<div style="display: block;border-bottom: 1px solid #ccc;height: 50px;box-shadow: 0 1px 4px #ccc;position: sticky;top: 0;left: 0;background: #fff;z-index: 1000;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
    <div style="padding-right: 6px;">
        <a style="margin-right: 7px;color: black;text-decoration: none;font-size: 40px;padding-right: 4px;"
        href="{% url 'quiz:quizzes' %}" 
        alt="NeuGott back button">
            ←
        </a>
        <span id="countdownbox1" style="color: #a83425;font-weight:600; font-size:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            NeuGott
        </span>
        <img style="border-radius:4px;display:none;" src="/static/core/images/tothex_160.png" alt="NeuGott">
  
    </div>
</div>
<div class="container">

{% include 'messages.html'%}
    <div>
        <form action="{% url 'quiz:quizzes' %}" method="get">
            
            <input type="submit" value="Go Back Home">
        </form>   
        <br>
        <form action="{% url 'quiz:random-quiz-picker' %}" method="get">
            
            <input type="submit" value="Take Another Quiz">
        </form>
    </div>
    <div class="minuteBx">
        <div style="display:none;" id="minute">{{quiz.duration}}</div>
        <div>
            {{quiz.get_quiz_duration}}
        </div>
    </div>
    {% if quiz.composition %}
    <div>
        {{quiz.composition|safe}}
    </div>
    {% endif %}
</div>


<div class="question-card-container">

    {% if user.is_authenticated %}
    <form action="{% url 'quiz:submit-quiz' quiz.id profile.code %}" method="post" enctype="multipart/form-data" id="quizForm">
    {% else %}
    <form action="{% url 'quiz:submit-quiz' quiz.id None %}" method="post" enctype="multipart/form-data" id="quizForm">
        {% endif %}
    {% csrf_token %}
        <ol>
        {% for index, question in questions %}
        <div class="question-box">        
            {% if question.form == 'fourChoicesQuestion' %}
            <li class="question">
                <input type="hidden" name="points" value="{{question.points}}">
                <div class="questionBx">
                    
                    <div>
                        <div class="q-box">
                            <p>
                            {{index|add:1}}) {{question.question|safe}}
                            </p>
                        </div>
                        <div class="points">
                            {% if question.points < 2 %}
                            {{question.points}} point
                        {% else %}
                            {{question.points}} points
                        {% endif %}
                        </div>
                </div>
                <!-- Add the logic for if question.shuffleAnswers -->

                {% for answer in question.shuffle_answers %}
                {% if answer == 1 %}
                    <div  onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"  class="option{{question.index}}"   type="checkbox" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}|{{question.id}}|answer1">
                        <label for="id_{{question.index}}_answer1">{{question.answer1}}</label>
                    </div>
                {% elif answer == 2 %}
                    <div  onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"  class="option{{question.index}}"  type="checkbox" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}|{{question.id}}|answer2">
                        <label for="id_{{question.index}}_answer2">{{question.answer2}}</label>
                    </div>
                {% elif answer == 3 %}
                    <div  onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"  class="option{{question.index}}" type="checkbox" name="answer" id="id_{{question.index}}_answer3" value="{{question.form}}|{{question.id}}|answer3">
                        <label for="id_{{question.index}}_answer3">{{question.answer3}}</label>
                    </div>
                {% elif answer == 4 %}
                    <div  onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"  class="option{{question.index}}" type="checkbox" name="answer" id="id_{{question.index}}_answer4" value="{{question.form}}|{{question.id}}|answer4">
                        <label for="id_{{question.index}}_answer4">{{question.answer4}}</label>
                    </div>
                {% endif %}
                {% endfor %}
                <div style="text-align:right;">
                    <div style='color:#f11919; text-align:right; margin-right: 3px;'>NeuGott</div>
                </div>
            </li>
            {% elif question.form == 'trueOrFalseQuestion' %}
            <li class="question">
                <input type="hidden" name="points" value="{{question.points}}">
                <div class="questionBx">
                    <div>
                        <div class="q-box">
                            <p>
                            {{index|add:1}}) {{question.question|safe}}
                            </p>
                        </div>
                        <div class="points">
                            {% if question.points < 2 %}
                            {{question.points}} point
                        {% else %}
                            {{question.points}} points
                        {% endif %}
                    </div>
                      
                </div>
                    <div onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"  class="option{{question.index}}"  type="checkbox" name="answer" id="id_{{question.index}}_answer1" value="{{question.form}}|{{question.id}}|answer1">
                        <label for="id_{{question.index}}_answer1">{{question.answer1}}</label>
                    </div>
                    
                    <div  onclick="AutoClick(this)" class="answer">
                        <input onclick="validateAnswer(this.className, this.id)"   class="option{{question.index}}" type="checkbox" name="answer" id="id_{{question.index}}_answer2" value="{{question.form}}|{{question.id}}|answer2">
                        <label for="id_{{question.index}}_answer2">{{question.answer2}}</label>
                    </div>
                    <div style="text-align:right;">
                        <div style='color:#f11919; text-align:right; margin-right: 3px;'>NeuGott</div>
                    </div>
            </li>            
            {% endif %}
            </div>
        {% endfor %}
    </ol>
        <input id ='timeTaken' type="hidden" name="timeTaken">
        <input id="submitButton" type="submit" value="Submit">
    </form>
    <div>The End<br> Please share this quiz with your friends</div>
</div>
{% include 'loading.html' %}

<script>

    function validateAnswer(option, target){
        let answers = document.getElementsByClassName(option);

        for(var i = 0; i < answers.length; i++){
        if (answers[i].checked == 1){
            answers[i].checked = 0;
        };  

        }
        document.getElementById(target).checked = true;
        
    }

    const minutes = document.getElementById('minute').textContent;

    const countdownbox = document.querySelector('span#countdownbox1');
    let seconds = minutes ;
    const duration = minutes;
    const quiz = document.getElementById('quizForm');
    let timeTaken = document.getElementById('timeTaken');
    timeTaken.value = seconds;
    const myInterval = setInterval(()=>{
        seconds -= 1;
        let minutesLeft = Math.floor(seconds/60);
        let secondsLeft = seconds%60;

        timeTaken.value = parseInt(duration - seconds);
        if (seconds == 0){
            const finished =  document.getElementById('submitButton');
            finished.click();

        }


        if(seconds <= 0){
            myStopFunction();
        }
    countdownbox.innerHTML = `<b>${minutesLeft}min:${secondsLeft}sec left</b>`;

    }, 1000)



function myStopFunction(){
    clearInterval(myInterval);
}

</script>

<script>
    // this.print();
    // this.addEventListener('beforeprint', (e)=>{
    //     e.preventDefault();
    // })
    const AutoClick = function(arg){
        let inputbx = arg.childNodes[1];
        inputbx.click();
        // console.log(inputbx)
        // console.log(arg);
    }
</script>
{% endblock content %}