<!-- Add the copy button to all the form templates and add a display to show that the text has been copied. -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Create True Or False Question
{% endblock title %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/categoryCreate.css' %}">
<style>
    .copysymbol{
        width: 25px;
        margin: 3px;
    }
    .hard{
        width: 90px;
    }
</style>
{% endblock css %}


{% include 'core/header.html' %}

{% include 'messages.html' %}



<div>
    <i style="font-size:14px;">Click to copy to clipboard</i>
</div>

<input type="text"  onclick="copyFunction(this.id)" name="" id="copy" value="&copy" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="times" value="×" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="divide" value="÷" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="ne" value="≠" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="plusmn" value="±" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="elt" value="⋜" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="glt" value="⋝" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="deg" value="°" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="fnof" value="ƒ" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="part" value="∂" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="empty" value="∅" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="isin" value="∈" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="notin" value="∉" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="sum" value="∑" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="mnplus" value="∓" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="radic" value="√" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="radic3" value="∛" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="radic4" value="∜" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="infin" value="∞" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="cap" value="∩" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="cup" value="∪" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="int" value="∫" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="sub" value="⊂" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="sup" value="⊃" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="nsub" value="⊄" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="nsup" value="⊅" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="sube" value="⊆" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="supe" value="⊇" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="nsube" value="⊈" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="nsupe" value="⊉" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="larr" value="←" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="uarr" value="↑" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="rarr" value="→" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="darr" value="↓" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="harr" value="↔" class="copysymbol" readonly>
<input type="text"  onclick="copyFunction(this.id)" name="" id="varr" value="↕" class="copysymbol" readonly>

<!-- <input type="text"  onclick="copyFunction(this.id)" name="" id="hardsub" value="(sub)2(/sub)" class="copysymbol hard" readonly> -->
<!-- <input type="text"  onclick="copyFunction(this.id)" name="" id="hardsup" value="(sup)2(/sup)" class="copysymbol hard" readonly> -->



<div class="containerBx">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{trueOrFalseForm.media}}
        {{trueOrFalseForm|crispy}}
        <input type="submit" value="Create"  style="margin: 5px 0 5px 4px;background: #f11919; color: #fff;  width: 200px; max-width: 90vw; padding: 4px 4px;border-radius: 4px; border: none;">
    </form>
</div>
<script>
    function copyFunction(base){
    let copyText = document.getElementById(base);
    copyText.select();
    copyText.setSelectionRange(0,99999);
    // document.execCommand("copy")
    navigator.clipboard.writeText(copyText.value)
    alert("Copied the text: " + copyText.value)
}
</script>


{% endblock content %}