
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #555;

}

section{
    display: block;
    background:linear-gradient(60deg, rgba(235, 224, 224, 0.308), rgba(243, 232, 232, 0.3));
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
fieldset{
    width : 95vw;
    max-width: 400px;
}
section >*{
    margin: 4px;
}

.search{
    border: 1px solid #666;
}

div.containerBx{
    margin: 4px 2px 4px 4px;

}
textarea{
    width: 250px;
    height: 200px;
    border-radius: 4px;
}
input[type="text"]{
    background: #fff;
    box-shadow: 1px 3px 4px #ccc;
    border: 1px solid #333;
}
input[type="submit"]{
    border: none;
    outline: none;
    padding: 3px 5px;
    background: #777;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
}

input[type="button"]{
    /* border: .1px solid #555; */
    border: none;
    outline: none;
    padding: 3px 5px;
    background: #777;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin: 2px 2px;
}


a button{
    border: none;
    outline: none;
    padding: 3px 5px;
    background: #777;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin: 8px 0 4px 4px;
}

input[type="text"]{
    background: #eee;
    border: .1px solid #777;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    color: #777;

}