a{
    text-decoration: none;
}

.head-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-link a{
    margin-right: 10px;
    text-align: center;
    padding: 3px 5px;

}

.active{
    border-bottom: 3px solid var(--theme-color);
}



.card-container{
    display: block;
    margin-top: 4px;
    margin: 0 auto;
    width: 900px;
    max-width:95vw;

}

.card{
    margin-top: 10px;
    display: block;
    position: relative;
    border-top: 3px solid var(--theme-color);
    background: #fff;
    box-shadow: 3px 3px 7px #999, -3px -3px 7px #999;
    border-radius: 4px;
}
.username{
    position: absolute;
    top: 6px;
    left: 3px;
}

.categories{
    position: relative;
    top: 30px;
    overflow-x: hidden;
}

.category{
    background: #ddd;
    border-radius: 3px;
    padding: 2px 3px;
}
#outputDate{
    position: absolute;
    top: 3px;
    right: 3px;

}


.card .contentBx{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position: relative;
}

.card .contentBx > div{
    margin: 0px 2px;
}


.link img{
    width: 100%;
    margin-top: 30px;
}
.card .contentBx div.title-block{
    border-bottom:1px solid#999;
    width: 100%;  

}
.card .contentBx .title{
    color: #666;
    min-height: 30px;
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    
}

.card .contentBx .desc{
    text-align: center;
}
.card .contentBx .creator{
    display: inline-flex;
    /* position: absolute; */
    align-items: center;
    justify-content:space-between;
    
}

.card .contentBx .inline > div{
    margin: 0px 5px;
}
.card .contentBx .linkBx, .card .contentBx .inline{
    display: flex;
    width : 100%;
    height: 100%;
    justify-content: center;
    align-items: center ;
    /* max-width: 500px; */

}

.card .contentBx .linkBx > a:hover, .card .contentBx .linkBx > a:focus{
    background: var(--theme-color);
    color: var(--white-theme);

}

button{
    background: #f11919;
    color:white;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.card .contentBx .linkBx > div{
    width: 50%;
    border:1px solid #000;
    border-bottom: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.card .contentBx .linkBx #likes{
    border-left: none;
}

.card .contentBx .linkBx #take-quiz{
    border-right: none;
}




@media(max-width:700px){
    *{
        font-size: 12px;
    }
    .card{
        flex-direction: column;
        position: relative;

    }   
    .card .contentBx .title{
        font-weight: 800;
        font-size: 18px;
    }
}



