
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{q.question|truncatewords:20}}
{% endblock title %}


{% block css %}






<link rel="stylesheet" href="{% static 'q/css/ranswer_page.css' %}?{{static_request}}">
{% endblock css %}


{% block content %}
{% include 'core/header.html' %}



<section>
    <div id="question-card">
        <div>
            <div>
                {% for c in q.categories.all %}
                    <span>{{c.title}}</span>
                {% endfor %}
            </div>
            <div>
                <h4>
                    {{q.question}}
                </h4>
            </div>
            <div>
                <p>
                    {{q.description}}
                </p>
            </div>


            <div class="imageBox" >
                <img src="{{q.question_image.url}}" alt="{{q.question}}">
            </div>
            <div id="share">
                <a id="shareButton" href="#">Share</a>
            </div>
        </div>
        <div id="stat">
	        <div>
                <span>
                    <form data-opposite-id="input-question-downvote-{{q.id}}" data-input-id="input-question-upvote-{{q.id}}" id="upvoteQuestionForm" action="{% url 'qxa:upvote-question' q.id %}" method="get">
                        <input id="input-question-upvote-{{q.id}}"  type="submit" value="↑ {{q.upvoters.count}}">
                    </form>                        
                </span>
                <span>
                    <form data-opposite-id="input-question-upvote-{{q.id}}" data-input-id="input-question-downvote-{{q.id}}" id="downvoteQuestionForm" action="{% url 'qxa:downvote-question' q.id %}" method="get">
                        <input id="input-question-downvote-{{q.id}}" type="submit" value="↓ {{q.downvoters.count}}">
                    </form>
                </span>
            </div>

            <div>
                    Answers: <b>{{q.answers.count}}</b>
            </div>
            <div>
                <b>
                    <b>{{q.views}}</b> views
                </b>
            </div>
        </div>
 
    

    <div id="answer-box">
        {% for answer in q.answers.all %}
        <div>
            {{answer}}
        </div>
        {% if answer.solution_image %}
        <div class="imageBox">
            <img src="{{answer.solution_image.url}}" alt="{{answer}}">
        </div>
        {% endif %}
	    <div>
            <span>
                <form data-opposite-id="input-answer-downvote-{{answer.id}}" data-input-id="input-answer-upvote-{{answer.id}}" action="{% url 'qxa:upvote-answer' answer.id %}" class="upvoteAnswerForm" method="get">
                    <input id="input-answer-upvote-{{answer.id}}" type="submit" value="↑ {{answer.upvoters.count}}">
                </form>
            </span>
            <span>
                <form data-opposite-id="input-answer-upvote-{{answer.id}}" data-input-id="input-answer-downvote-{{answer.id}}" action="{% url 'qxa:downvote-answer' answer.id %}" class="downvoteAnswerForm" method="get">
                    <input id="input-answer-downvote-{{answer.id}}" type="submit" value="↓ {{answer.downvoters.count}}">
                </form>
            </span>
        </div>

        <div id="reply-box">
            {% for reply in answer.replies.all %}
            <div>
                {{reply}}
            </div>
            {% endfor %}
            <form id="replyForm" data-action="{% url 'qxa:create-reply' answer.id %}" method="post">
                {% csrf_token %}
                {{replyForm|crispy}}
                <input type="submit" value="Submit" >
            </form>
        </div>
        <br>
        <br>

        {% endfor %}
    </div>
    <div id="image-overlay" class="inactive-overlay overlay-background">
        <div>
            <div id="image-edit-box"></div>
            <div id="image-edit-menu">
                <div id="cancel-edit">Cancel</div>
                <div id="save-edit">Save</div>
            </div>
        </div>
    </div>
    <form id="answerForm" data-action="{% url 'qxa:answer-question' q.id %}" action="{% url 'qxa:answer-question' q.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <div id="solution-image-container">
            <!-- This is the image preview box -->
            <div id="solution-image-box"></div>
            <div id="solution-absolute"> <i class="fa-solid fa-pen-to-square"></i>Edit</div>
        </div>

        <input type="submit" value="Submit" >
    </form>
    </div>

</section>



    {% include 'jquery.html' %}
    {% include 'loading.html' %}
    <script src="{% static 'question/js/rmain.js' %}"></script>
<script>
    $(document).ready(function(){

    $('#replyForm').submit(function(e){
        e.preventDefault();
        let form_name = $(this);	
        let serialized_data = form_name.serialize();
        $.ajax({
        type : 'POST',
        url : form_name.data('action'),
        data : serialized_data,
        success : function(response){
            alert('Submitted successfully');
            },
        error : function(response){
            alert('An error occurred!');
            },
        });
    });
});
</script>    



<!-- 
<script>
    $(document).ready(function(){
        // add csrf[-1] for the last csrf
    const csrf = document.getElementsByName('csrfmiddlewaretoken')[-1];
    $('#answerForm').submit(function(e){
        e.preventDefault();
        let formName = $(this);	//let form = new FormData(this);
        let fd = new FormData();
        fd.append('csrfmiddlewaretoken', csrf[-1].value)
        let serializedData = formName.serialize();
        $.ajax({
        type : 'POST',
        url : formName.data('action'),
        data : serializedData,
        success : function(response){
            alert('Submitted successfully');
            },
        error : function(response){
            alert('An error occurred!');
            },
        });
    });
})

</script> -->
<script>
const shareButton = document.querySelector('a#shareButton');
const title = window.document.title;
const url = window.document.location.href;
shareButton.addEventListener('click', (e) => {
    e.preventDefault();
    if(navigator.share){
        navigator.share({
            title: `${title}`,
            url : `${url}`
        })
        .then(()=>{
            // alert('Thanks for sharing!');
        }).catch(console.error);
    }else{
        alert('Use a default share button');
    }
});

</script>
<script>
// const upvoteQuestionForm = $('#upvoteQuestionForm');
var questionf;
var formInputId;
var formInput;
var objectBx;
var questionForm;
var oppositeId;
$('#upvoteQuestionForm').submit((e)=>{
    // e.currentTarget
    // e.isTrusted   --> to catch bots;
    // e.target
    // e.submitter --> The input:submit button
    
    e.preventDefault();
    // console.log(e.target.childNodes.values);
    questionf = $('#upvoteQuestionForm');
    formInputId = questionf.data('input-id');
    formInput = $(`#${formInputId}`);
    oppositeId = questionf.data('opposite-id');
    oppositeFormInput = $(`#${oppositeId}`)
    // alert(formInput);
    // console.log(formInput);
    questionForm = $('#upvoteQuestionForm').serialize();
    // alert($('#upvoteQuestionForm').attr('action'));
    $.ajax({
        type : 'GET',
        url : $('#upvoteQuestionForm').attr('action'),
        data : questionForm,
        success : function(response){
            console.log(response);
            formInput.val(`↑ ${response.upvote_count}`);
            oppositeFormInput.val(`↓ ${response.downvote_count}`);

            // console.log(questionf.);

        },
        error : function(response){
            console.log(response);
        }
    })
})





$('#downvoteQuestionForm').submit((e)=>{
    // e.currentTarget
    // e.isTrusted   --> to catch bots;
    // e.target
    // e.submitter --> The input:submit button
    
    e.preventDefault();
    // console.log(e.target.childNodes.values);
    questionf = $('#downvoteQuestionForm');
    formInputId = questionf.data('input-id');
    formInput = $(`#${formInputId}`);
    oppositeId = questionf.data('opposite-id');
    oppositeFormInput = $(`#${oppositeId}`)
    // alert(formInput);
    // console.log(formInput);
    questionForm = $('#downvoteQuestionForm').serialize();
    // alert($('#downvoteQuestionForm').attr('action'));
    $.ajax({
        type : 'GET',
        url : $('#downvoteQuestionForm').attr('action'),
        data : questionForm,
        success : function(response){
            console.log(response);
            formInput.val(`↓ ${response.downvote_count}`);
            oppositeFormInput.val(`↑ ${response.upvote_count}`);
            // console.log(questionf.);

        },
        error : function(response){
            console.log(response);
        }
    })
})



// upvote and down vote answers

$('.upvoteAnswerForm').submit(function(e){
    // e.currentTarget
    // e.isTrusted   --> to catch bots;
    // e.target
    // e.submitter --> The input:submit button
    
    e.preventDefault();
    // console.log(e.target.childNodes.values);
    questionf = $(this).attr('action');
    objectBx = $(this);
    // console.log(questionf);
    // alert(questionf);
    // alert($(this).attr('action'));
    formInputId = objectBx.data('input-id');
    formInput = $(`#${formInputId}`);
    oppositeId = objectBx.data('opposite-id');
    oppositeFormInput = $(`#${oppositeId}`);
    questionForm = $(this).serialize();
    $.ajax({
        type : 'GET',
        url : questionf,
        data : questionForm,
        success : function(response){
            console.log(response);
            formInput.val(`↑ ${response.upvote_count}`);
            oppositeFormInput.val(`↓ ${response.downvote_count}`)
            // console.log(questionf.);

        },
        error : function(response){
            console.log(response);
        }
    })
})





$('.downvoteAnswerForm').submit((e)=>{
    // e.currentTarget
    // e.isTrusted   --> to catch bots;
    // e.target
    // e.submitter --> The input:submit button
    
    e.preventDefault();
    questionf = e.currentTarget.getAttribute('action');
    formInputId = e.currentTarget.getAttribute('data-input-id');
    formInput = $(`#${formInputId}`);
    oppositeId = e.currentTarget.getAttribute('data-opposite-id');
    oppositeFormInput = $(`#${oppositeId}`);
    questionForm = $(this).serialize();
    $.ajax({
        type : 'GET',
        url : questionf,
        data : questionForm,
        success : function(response){
            console.log(response);
            formInput.val(`↓ ${response.downvote_count}`);
            oppositeFormInput.val(`↑ ${response.upvote_count}`)
            // console.log(questionf.);

        },
        error : function(response){
            console.log(response);
        }
    })
})

// Array.from($('.upvoteAnswerForm')).forEach(ans =>{
//     // alert(ans);
//     // console.log(ans);
//     ans.submit(function(e){
//         e.preventDefault();
//         alert("An upvote!");
//         console.log(ans);
//     })
// })
</script>
{% endblock content %}

