div#postAd-box{
    display:block;
    position: static;
    width: 95%;
    max-width: 98vw;

}

div#postAd-image{
    width: 100%;
    height: 100%;
}

div p#postAd-desc{
    text-align: center;

}

div#postAd-link{
    display: flex;
    justify-content: center;
    align-items: center;
}


a.postAd{
    background: #f11919;
    color: #fff;
    padding: 7px;
    border-radius: 4px;
}