*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #751515;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
    cursor: pointer;
}

a div{
    height: 100%;
    width: 100%;

}

.container{
    display: block;
    position: relative;
    margin:auto;
    width: 500px;
    max-width: 100%;
}


.container > div{
    margin-bottom: 10px;
    border-top: 4px solid #f11919;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 10px;
    box-shadow: 0 1px 4px #666;

}

img{
    width: 100%;
    max-width:500px;
}

.link-container{
    border: 1px solid #777;
    background: #fff;
    color: #333;
    margin: auto;
    width: 150px;
    border-radius: 4px;    
}


.link-container:hover{
    background: #751515;
}

.link-container:hover a{
    color: #fff;
}
