<style>
    div.head-arrow{
        display: block;
        border-bottom: 1px solid #ccc;
        height: 40px;
        box-shadow: 0 1px 4px #ccc;
        position: sticky;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 1000;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    div.head-box{
        padding-right: 6px;
    }
    div.head-box a{
        text-decoration: none;
        font-size: 30px;
        padding-right: 4px;
        color: black;
        margin-right: 7px;
    }
    div.head-box span{
        color: #a83425;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>


<div class="head-arrow">
    <div class="head-box">
        <a href="{{request.META.HTTP_REFERER}}">
            ←
        </a>
        <span>NeuGott</span>
        
    </div>
</div>