
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuGott</title>
<style>
    *{
        font-size: 20px;
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }
    h1{
        color: #f11919;
    }
    a{
        color: #fff;
        background: #f11919;
        padding: 6px;
        width:100px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;

    }

</style>
</head>
<body>
    

<h1>NeuGott</h1>
<h4>This is where geniuses gather to share knowledge with one another</h4>
<section>
    <p>
        You will be redirected to the question page:
    <div id="countdownbox"><b>15sec left</b></div>
    </p>
    <p>
        <a id="nextButton" href="/question/take/">Start taking questions</a>
    </p>
    <p>
        <a href="/quiz/">Or take a quiz</a>
    </p>
</section>
<script>

    let seconds = 15;
    const next = document.getElementById('nextButton');
const countdownbox = document.getElementById('countdownbox');

const myInterval = setInterval(()=>{
    seconds -= 1;

    if (seconds == 0){
        next.click();
    }


    if (seconds <= 0){
        myStopFunction();
    }


    countdownbox.innerHTML = `<b>${seconds}sec left</b>`;

}, 1000)


function myStopFunction() {
  clearInterval(myInterval);
}
</script>
</body>
</html>