{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load social_share %}
{% block title %}
Profile
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/profile.css' %}?{{static_request}}">
{% endblock css %}
{% block content %}


{% include 'head.html' %}

{% include 'navbar.html' %}
<input type="hidden" id="navActive" value="{{nav}}" name="nav">
{% include 'messages.html' %}
<div class="profile-box">
    <div class="imgBx">
        <img src="{% static 'images/tothex_500.png' %}">
    </div>

<div class="name">
    <div class="userBx">
        {{profile.first_name}}
    </div>
    <div class="userBx">
        {{profile.last_name}}
    </div>

</div>
    

    <div class="username">
       @{{profile}}
    </div>
    <div class="obvious">
        <div class="following childBx">
            <a href="{% url 'follower-list' follower.id 'following' %}">
            <div class="heading">{% trans "Following" %}</div>
            <div>
                <b style="font-size: 16px;">
                    {{followingsCount}}
                </b>
            </div>
        </a>
         </div>
        <div class="followers childBx">
            <a href="{% url 'follower-list' follower.id 'followers' %}">

            <div class="heading">{% trans "Followers" %}</div>
            <div>
                <b id="followers" style="font-size: 16px;">
                    {{followersCount}}
                </b>
            </div>
            </a>
         </div>
         <div class="likes childBx">
            <div class="heading">{% trans "Likes" %}</div>
            <div class="content">
                <b style="font-size: 16px;">
                    {{profile.likes}}
                </b>
            </div> 
        </div>
    </div>
    
     {% if user != profile.user and user.is_authenticated %}
        {% if user in follower.followers.all %}
        {% comment %}
        <form id='followForm' action="{% url 'unfollow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="following" value="{{follower.user.id}}" readonly>
            <input type="hidden" name="following_user" value="{{profile.user}}" readonly>
            <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>

            <button type='submit' class="btn profile-edit-btn">
                {% trans "UnFollow" %}
            </button>
        </form>
        {% endcomment %}

        {% else %}
        
                <!-- <form id='followForm' action="{% url 'follow-action' follower.id profile.user.id 'follow'   %}" method="post"> -->
                <!-- <form id='followForm' action="{% url 'follower' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="following" value="{{follower.id}}" readonly>
                    <input type="hidden" name="following_user" value="{{profile.user.username}}" readonly>
                    <input type="hidden" name="following_username" value="{{profile.user.username}}" readonly>
        
                    <button type='submit' class="btn profile-edit-btn">
                        {% trans "Follow" %}
                    </button>
                </form>
         -->
        {% endif %}
     {% endif %}
    <div class="urlLink">
     {% if link.link and link.name and link.description %}

        <span>{% trans "Link below:" %} </span>
        <div class="link-container face-link">
        <a onclick="clickFunction()" data-url="{% url 'link-click' link.id %}" class="profile-link" href="{{link.link}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a>
        </div>
        <div>{{link.link}}</div>
        <div style="font-size: 12px; color: #777;">
            {{link.description}}
        </div>
    {% endif %}
        {% if user == profile.user %}
        <div>
            <span>Clicks: {{link.clicks}}</span>
            
        </div>
        <div>
            <a class="profile change"  href="{% url 'edit-link' %}">{% trans "Change Link" %}</a>
        </div>
        {% endif %}
    </div>
<div class="otherInfo">
    <div class="userInfo">
        <div class="heading">{% trans "Bio" %}</div>
        <div class="content"> {{profile.bio}}</div>

    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Gender" %}</div>
        <div class="content"> {{profile.gender}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">{% trans "State Of Residence" %}</div>
        <div class="content"> {{profile.state_of_residence}} </div>

    </div>

    <div class="userInfo">
        <div class="heading">{% trans "State Of Origin" %}</div>
        <div class="content"> {{profile.state_of_origin}} </div>


    </div>

    <div class="userInfo">
        <div class="heading">{% trans "Nationality" %}</div>
        <div class="content"> {{profile.nationality}} </div>
    </div>
    
    <div class="userInfo">
        <div class="heading">{% trans "Wallet" %}</div>
        <div class="content">{% trans "$0.00" %}</div> 
        <i style="font-size: 11px; color:#999;">{% trans "Efforts are being made for users to generate revenue from this app" %}</i>
    </div>

    <div class="userInfo">
        <div class="heading">{% trans "Refers" %}</div>
        <div class="content"> {{profile.refercount}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Coins" %}</div>
        <div class="content"> {{profile.coins}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Quiz Average Score" %}</div>
        <div class="content"> {{profile.quizAvgScore}}%</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Question Average Score" %}</div>
        <div class="content">{{profile.questionAvgScore}}%</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Quiz Attempts" %}</div>
        <div class="content">{{profile.quizAttempts}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Question Attempts" %}</div>
        <div class="content">{{profile.questionAttempts}}</div> 
    </div>
    <div class="userInfo">
        <div class="heading">{% trans "Quizzes Created" %}</div>
        <div class="content">{{profile.quizzes}}</div> 
        <div>
            <a class="obj-link" href="{% url 'question:visitor' profile.user.id %}">{% trans "View Questions" %}</a>
        </div>
        <div>
            <a class="obj-link" href="{% url 'quiz:visitor' profile.user.id %}">{% trans "View Quizzes" %}</a>
        </div>
        <div>
            <a class="obj-link" href="{% url 'qxa:my-q' %}">{% trans "My Questions and Answers" %}</a>
        </div>
        <div>
            <a class="obj-link" href="{% url 'chart' %}">{% trans "DashBoard" %}</a>
        </div>
    </div>

    {% if profile.user == user %}   
    <div class="userInfo">
        <div class="heading">{% trans "Profile Views" %}</div>
        <div class="content"> {{profile.views}}</div> 
    </div>
    <div class="copy-link-container">
        <div class="copy-text">
            <div>
                <a class="obj-link" id="shareReferralButton" href="#">{% trans "Copy Your Referral link" %}</a>
            </div>
        </div>
    </div>
    <div class="share-profile">
        <div>{% trans "Share Your Face" %}</div>
        <div>
            <a class="obj-link" id="shareButton" href="#">Share to Social Media</a>
        </div>
    
    </div>
    <a class="profile"  href="{% url 'edit_profile' %}">
        <div class="edit link userInfo">
            {% trans "Edit Face" %}
        </div>
    </a>
    <br>
    <br>
    <br>

   
    {% endif %}
</div>
</div>





{% include 'jquery.html' %}
{% include 'loading.html' %}

<script src="{% static 'core/js/profile.js' %}">
</script>
{% if user == profile.user %}
<script>
    const shareButton = document.querySelector('a#shareButton');
    const title = window.document.title;
    const url = window.document.location.href;
    shareButton.addEventListener('click', (e) => {
        e.preventDefault();
        if(navigator.share){
            navigator.share({
                title: `${title}`,
                url : `${url}`
            }).catch(console.error);
        }else{
            alert('Use a default share button');
        }
    });
</script>
<script>
    const shareReferralButton = document.querySelector('a#shareReferralButton');
    const referral = "An invitation to the world where geniuses gather";
    const website = window.location.origin
    const referral_url = `${website}/core/referral/{{profile.code}}`;
    shareReferralButton.addEventListener('click', (e) => {
        e.preventDefault();
        if(navigator.share){
            navigator.share({
                title: `${referral}`,
                url : `${referral_url}`
            }).catch(console.error);
        }else{
            alert('Use a default share button');
        }
    });
    
</script>
<!-- <script> -->

    // const website = window.location.hostname
    // document.querySelector('#copy-link').value = `${website}/core/referral/{{profile.code}}`;
    // function copyFunction(){
    // let copyText = document.getElementById('copy-link');
    // copyText.select();
    // copyText.setSelectionRange(0,99999);
    // // document.execCommand("copy")
    // navigator.clipboard.writeText(copyText.value)
    // alert("copied!")
    //     // Add the ajax for the link click
    // }
<!-- </script> -->
{% endif %}
<script>
// $(document).ready(function(){

    function clickFunction(){
        
        $.ajax({
            // change this to post
            type: 'GET', 
            url : $('a.profile-link').data('url'),
            data : {
            },
            success : function(response){
                alert('link clicked!');
                
            },
            error : function(){
                alert('It falis silently!')
            }

        });

    }
// });
</script>

<script>
$(document).ready(function(){

$('#followForm').submit(function(e){
e.preventDefault();
const serializeData = $(this).serialize()
// const objectBx = $(this)
// let buttonBtn = document.getElementById('followers')
alert($(this).attr('action'));
$.ajax({
    type: 'POST',
    url : $(this).attr('action'),
    data : serializeData,
    success : function(response){
        // document.getElementById('followForm').style.visibility = 'hidden';
        // if(response == 'follow'){
        //     buttonBtn.innerText = parseInt(button.innerText) + 1
        // } else if(response == 'unfollow'){
        //     buttonBtn.innerText = parseInt(button.innerText) - 1
            alert("Followership successful!");
        // }
    },
    error : function(){
        alert('It falis silently!');
    }
});
})
})

</script>
{% endblock content %}



