*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #333;
    text-align: center;
}
a{
    text-decoration: none;
}
textarea{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: #f11919;
}
a.profile{
    text-decoration: none;
    color: #751515;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
    cursor: pointer;
}

a div{
    height: 100%;
    width: 100%;

}

.otherInfo{
    display: block;
    position: relative;
    margin:auto;
    width: 500px;
    max-width: 95%;
    margin-top: 20px;
}


.otherInfo > div{
    margin-bottom: 10px;
    /* border-top: 4px solid #f11919; */
    border-left: 3px solid #f11919b2;
    box-shadow: 1px 1px 4px #b5ababb9;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 10px;

}

img{
    width: 100%;
    max-width:500px;
}


.profile-box{
    margin-top: 50px;
}
.profile-box .imgBx{
    display : flex;
    border-radius : 50%;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
}

.profile-box .imgBx img{
    background-size: cover;
    position : relative;
    width : 300px;
    max-width : 50vw;

}


.heading{
    font-weight:700;
}


.name{
    font-size: 24px;
    font-weight: 700;
    display : flex; 
    justify-content: center;
    align-items : center;

}

.name > .userBx{
    display: inline;
    margin: 3px 5px;
}

.username{
    font-size: 12px;
    font-weight: 500;
    display : flex; 
    justify-content: center;
    align-items : center;
}

.obvious{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.obvious .childBx{
    display: block;
    font-size: 12px;
    margin: 0 7px;
    padding: 3px 4px;
    /* border: 1px solid #f11919; */
    border-radius: 4px;
    /* box-shadow: 1px 1px 4px #f11919, -1px -1px 4px #f11919 ; */
    background-color: #fff;
    
}
.obvious .childBx > div{
    color: #666;
}

.urlLink{
    margin:30px 0 10px 0;
}
.urlLink >*{
    margin: 20px 0;
    max-width: 400px;
    margin: auto;
}


a.profile-link{
    text-decoration: none;
    background: #fff;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    color: #333;
    padding: 7px 7px;
    border-radius: 4px;
    border: 1px solid #777;
}

.urlLink div .change{
    margin-top: 20px;
}
a.profile.change{
    font-size: 12px;
    padding: 5px;
    color: #f11919;
    background: #eee;

}





button, input[type="submit"]{
    background: #f11919;
    color:white;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 4px;
}



a.profile-link, .edit.link{
    background: rgba(241, 25, 25, .05);
    border: 1px solid #f11919;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-container:hover a{
    color: #555;
}
a.profile{
    color: #555;
    font-size: normal;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.face-link{
    width: 200px;
}


.profile-edit-btn{
border: 1px solid #f11919;
border-radius: 4px;
}



a.obj-link{
    margin: 4px 3px;
    background: #f11919;
    border-radius: 4px;
    color: white;
    padding: 4px 6px;
    margin: 5px;
    display: block;
}
