



This app is just for revision.

<ul>
    <li>PowerX -> Quiz</li>
    <li>FindX -> Question</li>
    <li>XFace -> Profile</li>
</ul>

<section>
    <h2>PowerX -> Quiz</h2>
    <p>This section contains quizzes. You can create quiz with the + button, take quiz with
         the 'take quiz' button. Check the quiz detail by 
         clicking the quiz title, image, or description. </p>
</section>



<section>
    <h2>FindX -> Question</h2>
    <p>This section consists of five parts, namely 'Coven', 'The Bohemian Grove', 'Old Town Road', 
        'Quiz Generator: DNA', 'Past Questions' </p>
</section>
