<link rel="stylesheet" href="/static/css/loading.css">


<div id="loading-overlay" class="loading-window"></div>
<!-- <div id="loading-bar" class="d-flex d-none position-fixed" 
style="z-index:99999999;color:white;bottom:2vh;left:46vw">
    <button id="onloadWindow" class="btn btn-danger loading">
        <span style="color:white;" class="spinner-border spinner-border-sm"></span>
    </button>
</div> -->
<script>
    $(function(){
        $('#loading-overlay').hide();
        $('#loading-bar').hide();
    // window.onbeforeunload(()=>{

    // })
       $(window).on('beforeunload', ()=>{
    // let loadingOverlay = document.getElementById('loading-overlay');
    // loadingOverlay.style.display = 'absolute';
    $('#loading-overlay').show();
    $('#loading-bar').show();

        
       }) 
    });

</script>