

div#head-box{
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.name h3{
    color: #8b0e0e;
    font-weight: 600;
    font-size: 20px;
    display: absolute;
    top: 4px;
    left: 10px;
    margin-left: 10px;
}


#menu-detail, #shade{
    position: fixed;
    top : 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    margin: auto;
    z-index: 100000;
    background: rgba(26, 24, 24, .5);

    transition: all 1s ease-in-out;
}


#menu-detail section{
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display:block;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */

}

#menu-detail section > div.icon div{
    display: block;
    margin: 4px;
    background: rgb(243, 243, 243);
    border-radius : 3px;
    padding: 8px;
}

.active-bar{
    display: block;
}
.inactive-bar{
    display: none;
}


div#closeBtn{
    position: absolute;
    top : 7px;
    right: 7px;
}