div.loading-window{
    position: fixed;
    top : 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    margin: auto;
    z-index: 100000;
    background: rgba(26, 24, 24, .5);
    transition: all 1s ease-in-out;
}

.active-bar{
    display: block;
}

.inactive-bar{
    display: none;
}

