
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    margin: 0;
    padding: 0;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--theme-color);
}

section div{
    margin: 6px 4px 4px 4px;
    background: #fff;
    display: block;
    width: 100vw;
    line-height: 30px;
    border-radius: 4px;
}