:root{
    --card-background-color: #fff;
    --background-color: #dfdfdf;
    --theme-color:  #f11919/* rgb(219, 104, 104) #333edb*/;
    --white-theme: #fff;
    --dark-theme: #666;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--dark-theme);
    transition: all 0.3s ease-in-out;
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: relative;
    border-bottom: 2px solid var(--dark-theme);
}

header .name h3{
    color: var(--theme-color);
    font-weight: 600;
    font-size: 30px;
    display: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
}

header .top-navigation{
    background: #fff;
    padding: .01rem;
    width:100vw;
    /* max-width: 95vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .top-navigation a{
    padding: 1rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #a1a1a1;
    width: 80px;
    text-align: center;
    border: none;
}

header .top-navigation a.active{
    color: var(--theme-color);
    font-weight: bold;
    height: 100%;
    position: relative;
    border-bottom: 3px solid var(--theme-color);
}

header .top-navigation a:hover{
    color: var(--theme-color);
    border-bottom: 3px solid var(--theme-color);
}

a.link{
    background: #fff;
    color: var(--theme-color);
    text-decoration: none;
    text-align: center;
}

.create-quiz{
    position: fixed;
    background: var(--theme-color);
    border-radius: 50%;
    padding: 10px;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px #666;
}

.create-quiz a{
    color: var(--white-theme);
    background: var(--theme-color);
}

@media(max-width: 700px){
    body{
        font-size: 16px;
    }

    header .name{
        font-size: 20px;
    }


    header .top-navigation a{
        height: 100%;
        padding: 0rem 0rem;
        width: 10rem;
    }
}


