
{% extends 'base.html' %}
{% load static %}

{% block title %}
Leaderboard
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'leaderboard/css/leaderboard.css' %}">
{% endblock css %}
{% block content %}

{% include 'head.html' %}
{% include 'navbar.html' %}
{% include 'messages.html' %}

<div id="container">
    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:30px">Coming Soon...</p>
    <p id="info">Each leaderboard will be reset every 24 hours +0 GMT</p>
    <input type="hidden" id="navActive" name="nav" value="{{nav}}">
    
    <div>
        <a class="leaderboard" href="#"><!-- {% url 'leaderboard:wealth' %} -->
            Earner
        </a>
    </div>
    
    <div>
        <a class="leaderboard" href="#"><!-- {% url 'leaderboard:creator' %} -->
            Creator
        </a>
    </div>
    
    <div>
        <a class="leaderboard" href="#"><!-- {% url 'leaderboard:streak' %} -->
            Streak
        </a>
    </div>  
    <div>
        <a class="leaderboard" href="#"><!-- {% url 'leaderboard:referral' %} -->
            Referral
        </a>
    </div>    
</div>
<script src="{% static 'leaderboard/js/leaderboard.js' %}"></script>

{% endblock content %}